<a href="https://colab.research.google.com/github/chitra-psg/telecom_churn/blob/main/telecom_churn_prediction_gc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Telecom Churn Prediction

**Author:** Chitra Govindasamy

# 0. Problem statement

In the telecom industry, customers are able to choose from multiple service providers and actively switch from one operator to another. In this highly competitive market, the telecommunications industry experiences an average of 15-25% annual churn rate. Given the fact that it costs 5-10 times more to acquire a new customer than to retain an existing one, customer retention has now become even more important than customer acquisition.

For many incumbent operators, retaining high profitable customers is the number one business
goal. To reduce customer churn, telecom companies need to predict which customers are at high risk of churn. In this project, you will analyze customer-level data of a leading telecom firm, build predictive models to identify customers at high risk of churn, and identify the main indicators of churn.

In this competition, your goal is *to build a machine learning model that is able to predict churning customers based on the features provided for their usage.*

**Customer behaviour during churn:**

Customers usually do not decide to switch to another competitor instantly, but rather over a
period of time (this is especially applicable to high-value customers). In churn prediction, we
assume that there are three phases of customer lifecycle :

1. <u>The ‘good’ phase:</u> In this phase, the customer is happy with the service and behaves as usual.

2. <u>The ‘action’ phase:</u> The customer experience starts to sore in this phase, for e.g. he/she gets a compelling offer from a competitor, faces unjust charges, becomes unhappy with service quality etc. In this phase, the customer usually shows different behaviour than the ‘good’ months. It is crucial to identify high-churn-risk customers in this phase, since some corrective actions can be taken at this point (such as matching the competitor’s offer/improving the service quality etc.)

3. <u>The ‘churn’ phase:</u> In this phase, the customer is said to have churned. In this case, since you are working over a four-month window, the first two months are the ‘good’ phase, the third month is the ‘action’ phase, while the fourth month (September) is the ‘churn’ phase.

# 1. Loading dependencies & datasets

Lets start by loading our dependencies. We can keep adding any imports to this cell block, as we write mode and mode code.

In [96]:
#Data Structures
import pandas as pd
import numpy as np
import xgboost as xgb
import re
import os
from datetime import datetime as dt

#sklearn
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler ,OneHotEncoder 
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score ,confusion_matrix, precision_score, recall_score ,classification_report,accuracy_score
from sklearn.model_selection import GridSearchCV ,RepeatedStratifiedKFold ,cross_val_score ,StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from xgboost import plot_importance
from sklearn.metrics import f1_score

#Plotting
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns

#Others
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

### Common Functions

In [97]:
## Common Function to plot the countplot
def PlotAttribute(df_data, attribute, title, xlabel, ylabel, hueattribute = None, order = None):  
  if ( hueattribute ):
    chrt = sns.countplot(x=attribute,hue=hueattribute, data=df_data, order=order)
  else:
    chrt = sns.countplot(x=attribute,data=df_data)
  chrt.set_title(title,fontsize=14)
  chrt.set_xlabel(xlabel,fontsize=14)
  chrt.set_ylabel(ylabel,fontsize=14) 

  # To show count of values above bars
  for patch in chrt.patches:
      x, y = patch.get_xy()   # Bottom-left corner. 
      x += patch.get_width()/2 # Middle of the width.
      y += patch.get_height()  # Top of the bar
      color = patch.get_facecolor()
      chrt.text(x, y, str(y))
  return chrt

In [98]:
#2 decimal places
pd.options.display.float_format = '{:.2f}'.format
# The dataset has many columns and the list is getting truncated in the output. Hence, adjusting the configuration
pd.set_option('display.max_columns', 250)
pd.set_option('display.max_rows', 250)
pd.set_option('mode.use_inf_as_na', True)
#chart style
sns.set_style('darkgrid')

In [99]:
def plot(hyperparameters,scores):
     # plotting accuracies for parameters
    plt.figure(figsize=(16,5))
    plt.plot(scores["param_"+hyperparameters].data, scores["mean_train_score"], label="training accuracy")
    plt.plot(scores["param_"+hyperparameters].data, scores["mean_test_score"], label="test accuracy")
    plt.xlabel(hyperparameters)
    plt.ylabel("Accuracy")
    plt.legend()
    plt.show()

In [100]:
# Uses Random Forest pipeline , purpose to hyper parameter tuning of the model
def rf_model(params,pipe,X_train,y_train):
    folds = StratifiedKFold(n_splits = 4, shuffle = True, random_state = 42)
    model = GridSearchCV(estimator=pipe, cv=folds, param_grid=params, scoring='accuracy', n_jobs=-1, verbose=1,return_train_score=True)
    model.fit(X_train,y_train)
    return model.cv_results_

In [101]:
## Common Function to plot the countplot
def PlotAttribute(df_data, attribute, title, xlabel, ylabel, hueattribute = None, order = None):  
  if ( hueattribute ):
    chrt = sns.countplot(x=attribute,hue=hueattribute, data=df_data, order=order)
  else:
    chrt = sns.countplot(x=attribute,data=df_data)
  chrt.set_title(title,fontsize=14)
  chrt.set_xlabel(xlabel,fontsize=14)
  chrt.set_ylabel(ylabel,fontsize=14) 

  # To show count of values above bars
  for patch in chrt.patches:
      x, y = patch.get_xy()   # Bottom-left corner. 
      x += patch.get_width()/2 # Middle of the width.
      y += patch.get_height()  # Top of the bar
      color = patch.get_facecolor()
      chrt.text(x, y, str(y))
  return chrt

In [102]:
# Handle outlier using k-sigmoid method (Reference : starter notebook)
def cap_outliers(array, k=3):
    upper_limit = array.mean() + k*array.std()
    lower_limit = array.mean() - k*array.std()
    array[array<lower_limit] = lower_limit
    array[array>upper_limit] = upper_limit
    return array

In [103]:
# Common Function to process data
def Preprocess(df_data, action):  
  if ( action == 'DropUniqueColumns' ):
    df_data.drop(['id'], axis=1, inplace=True)
  elif(action == 'Drop0VariationColumns'):
    df_data.drop(['circle_id',
                  'last_date_of_month_6','last_date_of_month_7','last_date_of_month_8',\
                  'loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou',
                  'std_ic_t2o_mou_6','std_ic_t2o_mou_7','std_ic_t2o_mou_8'], axis=1, inplace=True)
    #               'std_og_t2c_mou_6','std_og_t2c_mou_7','std_og_t2c_mou_8',\
  elif(action == 'DeriveLastRechargeDay'):
    CURRENT_DAY = (dt.strptime('2014/9/01', "%Y/%m/%d")) #assuming we are in the begining of Sep trying to predict churn so that necessary actions can be taken to prevent churn
    df_data['lastrechargedayago'] = abs(((df_data[['date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8']].max(axis=1) ) - CURRENT_DAY).dt.days)
    df_data.drop(['date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8'], axis = 1, inplace = True)
    df_data['lastdatarechargedayago'] = abs(((df_data[['date_of_last_rech_data_6', 'date_of_last_rech_data_7', 'date_of_last_rech_data_8']].max(axis=1) ) - CURRENT_DAY).dt.days)
    df_data.drop(['date_of_last_rech_data_6', 'date_of_last_rech_data_7', 'date_of_last_rech_data_8'], axis = 1, inplace = True)
  elif(action == 'Fill0inFloatColumns'):
    for col in data.select_dtypes(include="float64").columns:
        df_data[col].fillna(0, inplace=True)
  elif(action == 'ConverttoDate'):
      # Convert date columns to date format
      for col in data.select_dtypes(include="object").columns:
          df_data[col] =  pd.to_datetime(df_data[col], format='%m/%d/%Y')
  elif(action == 'HandleOutlier'):
      df_data = df_data.apply(cap_outliers, axis=0)
  elif(action == 'DeriveAdditionalFeatures'):  
    df_data['loc_og_mou_growth']  = round( (df_data['loc_og_mou_8']  /  (df_data[['loc_og_mou_6', 'loc_og_mou_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['std_og_mou_growth']  = round( (df_data['std_og_mou_8']  /  (df_data[['std_og_mou_6', 'std_og_mou_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['isd_og_mou_growth']  = round( (df_data['isd_og_mou_8']  /  (df_data[['isd_og_mou_6', 'isd_og_mou_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['spl_og_mou_growth']  = round( (df_data['spl_og_mou_8']  /  (df_data[['spl_og_mou_6', 'spl_og_mou_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['total_og_mou_growth']  = round( (df_data['total_og_mou_8']  /  (df_data[['total_og_mou_6', 'total_og_mou_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    
    df_data['loc_ic_mou_growth']  = round( (df_data['loc_ic_mou_8']  /  (df_data[['loc_ic_mou_6', 'loc_ic_mou_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['std_ic_mou_growth']  = round( (df_data['std_ic_mou_8']  /  (df_data[['std_ic_mou_6', 'std_ic_mou_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['isd_ic_mou_growth']  = round( (df_data['isd_ic_mou_8']  /  (df_data[['isd_ic_mou_6', 'isd_ic_mou_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['spl_ic_mou_growth']  = round( (df_data['spl_ic_mou_8']  /  (df_data[['spl_ic_mou_6', 'spl_ic_mou_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['total_ic_mou_growth']  = round( (df_data['total_ic_mou_8']  /  (df_data[['total_ic_mou_6', 'total_ic_mou_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    
    df_data['total_rech_amt_growth']  = round( (df_data['total_rech_amt_8']  /  (df_data[['total_rech_amt_6', 'total_rech_amt_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['av_rech_amt_data_growth']  = round( (df_data['av_rech_amt_data_8']  /  (df_data[['av_rech_amt_data_6', 'av_rech_amt_data_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    
    df_data['vol_2g_mb_growth']  = round( (df_data['vol_2g_mb_8']  /  (df_data[['vol_2g_mb_6', 'vol_2g_mb_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['vol_3g_mb_growth']  = round( (df_data['vol_3g_mb_8']  /  (df_data[['vol_3g_mb_6', 'vol_3g_mb_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    
    df_data['arpu_3g_growth']  = round( (df_data['arpu_3g_8']  /  (df_data[['arpu_3g_6', 'arpu_3g_8']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['arpu_2g_growth']  = round( (df_data['arpu_2g_8']  /  (df_data[['arpu_2g_6', 'arpu_2g_8']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)
    df_data['arpu_growth']  = round( (df_data['arpu_8']  /  (df_data[['arpu_6', 'arpu_7']].max(axis=1) )  ), 1).replace([np.inf, -np.inf], 1)

  elif(action == 'DropRedundantColumns'):  
    df_data.drop(['vol_2g_mb_6', 'vol_3g_mb_6', 'vol_2g_mb_7', 'vol_3g_mb_7', 
                  'vol_2g_mb_8', 'vol_3g_mb_8', 'total_rech_amt_6','total_rech_amt_7','total_rech_amt_8',
                  'av_rech_amt_data_6','av_rech_amt_data_7','av_rech_amt_data_8'], axis = 1, inplace = True)
    # loc_og_mou_* = loc_og_t2t_mou_*  + loc_og_t2m_mou_*   + loc_og_t2f_mou_* 	     + loc_og_t2c_mou_*
    df_data.drop(['loc_og_t2t_mou_6', 'loc_og_t2m_mou_6', 'loc_og_t2f_mou_6', 'loc_og_t2c_mou_6',
                  'loc_og_t2t_mou_7', 'loc_og_t2m_mou_7', 'loc_og_t2f_mou_7', 'loc_og_t2c_mou_7',
                  'loc_og_t2t_mou_8', 'loc_og_t2m_mou_8', 'loc_og_t2f_mou_8', 'loc_og_t2c_mou_8'], axis = 1, inplace = True)
     # std_og_mou_* = std_og_t2t_mou_*  + std_og_t2m_mou_*   + std_og_t2f_mou_* 	     + std_og_t2c_mou_*
    df_data.drop(['std_og_t2t_mou_6', 'std_og_t2m_mou_6', 'std_og_t2f_mou_6', 'std_og_t2c_mou_6',
                  'std_og_t2t_mou_7', 'std_og_t2m_mou_7', 'std_og_t2f_mou_7', 'std_og_t2c_mou_7',
                  'std_og_t2t_mou_8', 'std_og_t2m_mou_8', 'std_og_t2f_mou_8', 'std_og_t2c_mou_8',], axis = 1, inplace = True)
    # loc_ic_mou_* = loc_ic_t2t_mou_*  + loc_ic_t2m_mou_*   + loc_ic_t2f_mou_* 	     + loc_ic_t2c_mou_*
    df_data.drop(['loc_ic_t2t_mou_6', 'loc_ic_t2m_mou_6', 'loc_ic_t2f_mou_6',
                  'loc_ic_t2t_mou_7', 'loc_ic_t2m_mou_7', 'loc_ic_t2f_mou_7',
                  'loc_ic_t2t_mou_8', 'loc_ic_t2m_mou_8', 'loc_ic_t2f_mou_8'], axis = 1, inplace = True)
     # std_ic_mou_* = std_ic_t2t_mou_*  + std_ic_t2m_mou_*   + std_ic_t2f_mou_* 	     + std_ic_t2c_mou_*
    df_data.drop(['std_ic_t2t_mou_6', 'std_ic_t2m_mou_6', 'std_ic_t2f_mou_6',
                  'std_ic_t2t_mou_7', 'std_ic_t2m_mou_7', 'std_ic_t2f_mou_7',
                  'std_ic_t2t_mou_8', 'std_ic_t2m_mou_8', 'std_ic_t2f_mou_8'], axis = 1, inplace = True)
    # total_og_mou_* = loc_og_mou_* + std_og_mou_* + isd_og_mou_* + spl_og_mou_* + <x> component
    df_data.drop(['loc_og_mou_6', 'loc_og_mou_7', 'loc_og_mou_8',
                  'std_og_mou_6', 'std_og_mou_7', 'std_og_mou_8',
                  'isd_og_mou_6', 'isd_og_mou_7', 'isd_og_mou_8',
                  'spl_og_mou_6', 'spl_og_mou_7', 'spl_og_mou_8',
                  'total_og_mou_6', 'total_og_mou_7', 'total_og_mou_8'], axis = 1, inplace = True)
    # total_ic_mou_* = loc_ic_mou_* + std_ic_mou_* + spl_ic_mou_* + isd_ic_mou_* + <y> component
    df_data.drop(['loc_ic_mou_6', 'loc_ic_mou_7', 'loc_ic_mou_8',
                  'std_ic_mou_6', 'std_ic_mou_7', 'std_ic_mou_8',
                  'spl_ic_mou_6', 'spl_ic_mou_7', 'spl_ic_mou_8',
                  'isd_ic_mou_6', 'isd_ic_mou_7', 'isd_ic_mou_8',
                  'total_ic_mou_6', 'total_ic_mou_7', 'total_ic_mou_8'], axis = 1, inplace = True)
    df_data.drop(['arpu_6', 'arpu_7', 'arpu_8',
                  'arpu_2g_6', 'arpu_2g_7', 'arpu_2g_8',
                  'arpu_3g_6', 'arpu_3g_7', 'arpu_3g_8'], axis = 1, inplace = True)
  return df_data

Next, we load our datasets and the data dictionary file.

The **train.csv** file contains both dependent and independent features, while the **test.csv** contains only the independent variables. 

So, for model selection, I will create our own train/test dataset from the **train.csv** and use the model to predict the solution using the features in unseen test.csv data for submission.

In [104]:
data = pd.read_csv("train.csv")
unseen = pd.read_csv("test.csv")
#sample = pd.read_csv("sample.csv")
data_dict = pd.read_csv("data_dictionary.csv")

print(data.shape)
print(unseen.shape)
#print(sample.shape)
print(data_dict.shape)

(69999, 172)
(30000, 171)
(36, 2)

# 2. Data Preparation

In [105]:
data.head().T

,0,1,2,3,4
id,0,1,2,3,4
circle_id,109,109,109,109,109
loc_og_t2o_mou,0.00,0.00,0.00,0.00,0.00
std_og_t2o_mou,0.00,0.00,0.00,0.00,0.00
loc_ic_t2o_mou,0.00,0.00,0.00,0.00,0.00
last_date_of_month_6,6/30/2014,6/30/2014,6/30/2014,6/30/2014,6/30/2014
last_date_of_month_7,7/31/2014,7/31/2014,7/31/2014,7/31/2014,7/31/2014
last_date_of_month_8,8/31/2014,8/31/2014,8/31/2014,8/31/2014,8/31/2014
arpu_6,31.28,0.00,60.81,156.36,240.71
arpu_7,87.01,122.79,103.18,205.26,128.19
arpu_8,7.53,42.95,0.00,111.09,101.56
onnet_mou_6,48.58,0.00,0.53,7.26,21.28
onnet_mou_7,124.38,0.00,15.93,16.01,4.83
onnet_mou_8,1.29,0.00,0.00,0.00,6.13
offnet_mou_6,32.24,0.00,53.99,68.76,56.99
offnet_mou_7,96.68,25.99,82.05,78.48,38.11
offnet_mou_8,2.33,30.89,0.00,50.23,9.63
roam_ic_mou_6,0.00,0.00,0.00,0.00,53.64
roam_ic_mou_7,0.00,0.00,0.00,0.00,0.00
roam_ic_mou_8,0.00,0.00,0.00,0.00,0.00
roam_og_mou_6,0.00,0.00,0.00,0.00,15.73
roam_og_mou_7,0.00,0.00,0.00,0.00,0.00
roam_og_mou_8,0.00,0.00,0.00,1.63,0.00
loc_og_t2t_mou_6,2.23,0.00,0.53,6.99,10.16
loc_og_t2t_mou_7,0.00,0.00,12.98,3.94,4.83
loc_og_t2t_mou_8,0.28,0.00,0.00,0.00,6.13
loc_og_t2m_mou_6,5.29,0.00,24.11,37.91,36.74
loc_og_t2m_mou_7,16.04,0.00,0.00,44.89,19.88
loc_og_t2m_mou_8,2.33,0.00,0.00,23.63,4.61
loc_og_t2f_mou_6,0.00,0.00,0.00,0.00,11.99
loc_og_t2f_mou_7,0.00,0.00,0.00,0.00,1.23
loc_og_t2f_mou_8,0.00,0.00,0.00,0.00,5.01
loc_og_t2c_mou_6,0.00,0.00,2.14,0.00,0.00
loc_og_t2c_mou_7,0.00,22.01,0.00,0.00,9.85
loc_og_t2c_mou_8,0.00,29.79,0.00,8.03,0.00
loc_og_mou_6,7.53,0.00,24.64,44.91,58.91
loc_og_mou_7,16.04,0.00,12.98,48.84,25.94
loc_og_mou_8,2.61,0.00,0.00,23.63,15.76
std_og_t2t_mou_6,46.34,0.00,0.00,0.26,0.00
std_og_t2t_mou_7,124.38,0.00,2.94,12.06,0.00
std_og_t2t_mou_8,1.01,0.00,0.00,0.00,0.00
std_og_t2m_mou_6,18.75,0.00,28.94,15.33,4.35
std_og_t2m_mou_7,80.61,0.00,82.05,25.93,0.00
std_og_t2m_mou_8,0.00,0.00,0.00,4.60,0.00
std_og_t2f_mou_6,0.00,0.00,0.00,0.56,0.00
std_og_t2f_mou_7,0.00,0.00,0.00,0.00,0.00
std_og_t2f_mou_8,0.00,0.00,0.00,0.00,0.00
std_og_t2c_mou_6,0.00,0.00,0.00,0.00,0.00
std_og_t2c_mou_7,0.00,0.00,0.00,0.00,0.00
std_og_t2c_mou_8,0.00,0.00,0.00,0.00,0.00
std_og_mou_6,65.09,0.00,28.94,16.16,4.35
std_og_mou_7,204.99,0.00,84.99,37.99,0.00
std_og_mou_8,1.01,0.00,0.00,4.60,0.00
isd_og_mou_6,0.00,0.00,0.00,0.00,0.00
isd_og_mou_7,0.00,0.00,0.00,0.00,0.00
isd_og_mou_8,0.00,0.00,0.00,0.00,0.00
spl_og_mou_6,8.20,0.00,2.89,14.95,0.00
spl_og_mou_7,0.63,30.73,1.38,9.13,17.00
spl_og_mou_8,0.00,31.66,0.00,25.61,0.00
og_others_6,0.38,0.00,0.00,0.00,0.00
og_others_7,0.00,0.00,0.00,0.00,0.00
og_others_8,0.00,0.00,0.00,0.00,0.00
total_og_mou_6,81.21,0.00,56.49,76.03,63.26
total_og_mou_7,221.68,30.73,99.36,95.98,42.94
total_og_mou_8,3.63,31.66,0.00,53.84,15.76
loc_ic_t2t_mou_6,2.43,1.68,4.51,24.98,5.44
loc_ic_t2t_mou_7,3.68,19.09,6.16,4.84,1.39
loc_ic_t2t_mou_8,7.79,10.53,6.49,23.88,2.66
loc_ic_t2m_mou_6,0.83,1.41,89.86,53.99,10.58
loc_ic_t2m_mou_7,21.08,18.68,25.18,44.23,4.33
loc_ic_t2m_mou_8,16.91,11.09,23.51,57.14,19.49
loc_ic_t2f_mou_6,0.00,0.35,0.00,7.23,5.51
loc_ic_t2f_mou_7,0.00,1.66,0.00,0.81,3.63
loc_ic_t2f_mou_8,0.00,3.40,0.00,0.00,6.14
loc_ic_mou_6,3.26,3.44,94.38,86.21,21.54
loc_ic_mou_7,24.76,39.44,31.34,49.89,9.36
loc_ic_mou_8,24.71,25.03,30.01,81.03,28.31
std_ic_t2t_mou_6,0.00,0.00,11.69,0.00,0.00
std_ic_t2t_mou_7,7.61,0.00,0.00,0.00,0.00
std_ic_t2t_mou_8,0.21,0.00,0.00,0.00,0.00
std_ic_t2m_mou_6,7.46,0.00,18.21,8.89,0.00
std_ic_t2m_mou_7,19.96,0.00,2.48,0.28,0.00
std_ic_t2m_mou_8,14.96,0.00,6.38,2.81,0.00
std_ic_t2f_mou_6,0.00,0.00,0.00,0.00,0.00
std_ic_t2f_mou_7,0.00,0.00,0.00,0.00,0.00
std_ic_t2f_mou_8,0.00,0.00,0.00,0.00,0.00
std_ic_t2o_mou_6,0.00,0.00,0.00,0.00,0.00
std_ic_t2o_mou_7,0.00,0.00,0.00,0.00,0.00
std_ic_t2o_mou_8,0.00,0.00,0.00,0.00,0.00
std_ic_mou_6,7.46,0.00,29.91,8.89,0.00
std_ic_mou_7,27.58,0.00,2.48,0.28,0.00
std_ic_mou_8,15.18,0.00,6.38,2.81,0.00
total_ic_mou_6,11.84,3.44,124.29,95.11,21.54
total_ic_mou_7,53.04,39.44,33.83,50.18,9.36
total_ic_mou_8,40.56,25.04,36.64,83.84,28.31
spl_ic_mou_6,0.00,0.00,0.00,0.00,0.00
spl_ic_mou_7,0.00,0.00,0.00,0.00,0.00
spl_ic_mou_8,0.66,0.01,0.00,0.00,0.00
isd_ic_mou_6,0.00,0.00,0.00,0.00,0.00
isd_ic_mou_7,0.00,0.00,0.00,0.00,0.00
isd_ic_mou_8,0.00,0.00,0.00,0.00,0.00
ic_others_6,1.11,0.00,0.00,0.00,0.00
ic_others_7,0.69,0.00,0.00,0.00,0.00
ic_others_8,0.00,0.00,0.25,0.00,0.00
total_rech_num_6,3,3,2,2,13
total_rech_num_7,2,4,4,4,10
total_rech_num_8,2,5,2,3,8
total_rech_amt_6,77,0,70,160,290
total_rech_amt_7,65,145,120,240,136
total_rech_amt_8,10,50,0,130,122
max_rech_amt_6,65,0,70,110,50
max_rech_amt_7,65,145,70,110,41
max_rech_amt_8,10,50,0,50,30
date_of_last_rech_6,6/22/2014,6/12/2014,6/11/2014,6/15/2014,6/25/2014
date_of_last_rech_7,7/10/2014,7/10/2014,7/22/2014,7/21/2014,7/26/2014
date_of_last_rech_8,8/24/2014,8/26/2014,8/24/2014,8/25/2014,8/30/2014
last_day_rch_amt_6,65,0,70,110,25
last_day_rch_amt_7,65,0,50,110,10
last_day_rch_amt_8,0,0,0,50,30
date_of_last_rech_data_6,NaN,NaN,NaN,NaN,6/25/2014
date_of_last_rech_data_7,NaN,7/8/2014,NaN,NaN,7/23/2014
date_of_last_rech_data_8,NaN,NaN,NaN,NaN,8/20/2014
total_rech_data_6,NaN,NaN,NaN,NaN,7.00
total_rech_data_7,NaN,1.00,NaN,NaN,7.00
total_rech_data_8,NaN,NaN,NaN,NaN,6.00
max_rech_data_6,NaN,NaN,NaN,NaN,25.00
max_rech_data_7,NaN,145.00,NaN,NaN,41.00
max_rech_data_8,NaN,NaN,NaN,NaN,25.00
count_rech_2g_6,NaN,NaN,NaN,NaN,7.00
count_rech_2g_7,NaN,0.00,NaN,NaN,6.00
count_rech_2g_8,NaN,NaN,NaN,NaN,6.00
count_rech_3g_6,NaN,NaN,NaN,NaN,0.00
count_rech_3g_7,NaN,1.00,NaN,NaN,1.00
count_rech_3g_8,NaN,NaN,NaN,NaN,0.00
av_rech_amt_data_6,NaN,NaN,NaN,NaN,175.00
av_rech_amt_data_7,NaN,145.00,NaN,NaN,191.00
av_rech_amt_data_8,NaN,NaN,NaN,NaN,142.00
vol_2g_mb_6,0.00,0.00,0.00,0.00,390.80
vol_2g_mb_7,0.00,352.91,0.00,0.00,308.89
vol_2g_mb_8,0.00,0.00,0.00,0.00,213.47
vol_3g_mb_6,0.00,0.00,0.00,0.00,0.00
vol_3g_mb_7,0.00,3.96,0.00,0.00,0.00
vol_3g_mb_8,0.00,0.00,0.00,0.00,0.00
arpu_3g_6,NaN,NaN,NaN,NaN,0.00
arpu_3g_7,NaN,122.07,NaN,NaN,35.00
arpu_3g_8,NaN,NaN,NaN,NaN,0.00
arpu_2g_6,NaN,NaN,NaN,NaN,0.00
arpu_2g_7,NaN,122.08,NaN,NaN,35.12
arpu_2g_8,NaN,NaN,NaN,NaN,0.00
night_pck_user_6,NaN,NaN,NaN,NaN,0.00
night_pck_user_7,NaN,0.00,NaN,NaN,0.00
night_pck_user_8,NaN,NaN,NaN,NaN,0.00
monthly_2g_6,0,0,0,0,0
monthly_2g_7,0,0,0,0,0
monthly_2g_8,0,0,0,0,0
sachet_2g_6,0,0,0,0,7
sachet_2g_7,0,0,0,0,6
sachet_2g_8,0,0,0,0,6
monthly_3g_6,0,0,0,0,0
monthly_3g_7,0,1,0,0,0
monthly_3g_8,0,0,0,0,0
sachet_3g_6,0,0,0,0,0
sachet_3g_7,0,0,0,0,1
sachet_3g_8,0,0,0,0,0
fb_user_6,NaN,NaN,NaN,NaN,1.00
fb_user_7,NaN,1.00,NaN,NaN,1.00
fb_user_8,NaN,NaN,NaN,NaN,1.00
aon,1958,710,882,982,647
aug_vbc_3g,0.00,0.00,0.00,0.00,0.00
jul_vbc_3g,0.00,0.00,0.00,0.00,0.00
jun_vbc_3g,0.00,0.00,0.00,0.00,0.00
churn_probability,0,0,0,0,0

Let's look at each variable's datatype:

In [106]:
data.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 172 columns):
 #    Column                    Dtype
---   ------                    -----
 0    id                        int64
 1    circle_id                 int64
 2    loc_og_t2o_mou            float64
 3    std_og_t2o_mou            float64
 4    loc_ic_t2o_mou            float64
 5    last_date_of_month_6      object
 6    last_date_of_month_7      object
 7    last_date_of_month_8      object
 8    arpu_6                    float64
 9    arpu_7                    float64
 10   arpu_8                    float64
 11   onnet_mou_6               float64
 12   onnet_mou_7               float64
 13   onnet_mou_8               float64
 14   offnet_mou_6              float64
 15   offnet_mou_7              float64
 16   offnet_mou_8              float64
 17   roam_ic_mou_6             float64
 18   roam_ic_mou_7             float64
 19   roam_ic_mou_8             float64
 20   roam_og_mou_6             float64
 21   roam_og_mou_7             float64
 22   roam_og_mou_8             float64
 23   loc_og_t2t_mou_6          float64
 24   loc_og_t2t_mou_7          float64
 25   loc_og_t2t_mou_8          float64
 26   loc_og_t2m_mou_6          float64
 27   loc_og_t2m_mou_7          float64
 28   loc_og_t2m_mou_8          float64
 29   loc_og_t2f_mou_6          float64
 30   loc_og_t2f_mou_7          float64
 31   loc_og_t2f_mou_8          float64
 32   loc_og_t2c_mou_6          float64
 33   loc_og_t2c_mou_7          float64
 34   loc_og_t2c_mou_8          float64
 35   loc_og_mou_6              float64
 36   loc_og_mou_7              float64
 37   loc_og_mou_8              float64
 38   std_og_t2t_mou_6          float64
 39   std_og_t2t_mou_7          float64
 40   std_og_t2t_mou_8          float64
 41   std_og_t2m_mou_6          float64
 42   std_og_t2m_mou_7          float64
 43   std_og_t2m_mou_8          float64
 44   std_og_t2f_mou_6          float64
 45   std_og_t2f_mou_7          float64
 46   std_og_t2f_mou_8          float64
 47   std_og_t2c_mou_6          float64
 48   std_og_t2c_mou_7          float64
 49   std_og_t2c_mou_8          float64
 50   std_og_mou_6              float64
 51   std_og_mou_7              float64
 52   std_og_mou_8              float64
 53   isd_og_mou_6              float64
 54   isd_og_mou_7              float64
 55   isd_og_mou_8              float64
 56   spl_og_mou_6              float64
 57   spl_og_mou_7              float64
 58   spl_og_mou_8              float64
 59   og_others_6               float64
 60   og_others_7               float64
 61   og_others_8               float64
 62   total_og_mou_6            float64
 63   total_og_mou_7            float64
 64   total_og_mou_8            float64
 65   loc_ic_t2t_mou_6          float64
 66   loc_ic_t2t_mou_7          float64
 67   loc_ic_t2t_mou_8          float64
 68   loc_ic_t2m_mou_6          float64
 69   loc_ic_t2m_mou_7          float64
 70   loc_ic_t2m_mou_8          float64
 71   loc_ic_t2f_mou_6          float64
 72   loc_ic_t2f_mou_7          float64
 73   loc_ic_t2f_mou_8          float64
 74   loc_ic_mou_6              float64
 75   loc_ic_mou_7              float64
 76   loc_ic_mou_8              float64
 77   std_ic_t2t_mou_6          float64
 78   std_ic_t2t_mou_7          float64
 79   std_ic_t2t_mou_8          float64
 80   std_ic_t2m_mou_6          float64
 81   std_ic_t2m_mou_7          float64
 82   std_ic_t2m_mou_8          float64
 83   std_ic_t2f_mou_6          float64
 84   std_ic_t2f_mou_7          float64
 85   std_ic_t2f_mou_8          float64
 86   std_ic_t2o_mou_6          float64
 87   std_ic_t2o_mou_7          float64
 88   std_ic_t2o_mou_8          float64
 89   std_ic_mou_6              float64
 90   std_ic_mou_7              float64
 91   std_ic_mou_8              float64
 92   total_ic_mou_6            float64
 93   total_ic_mou_7            float64
 94   total_ic_mou_8            float64
 95   spl_ic_mou_6              float64
 96   spl_ic_mou_7              float64
 97   spl_ic_mou_8              float64
 98   isd_ic_mou_6              float64
 99   isd_ic_mou_7              float64
 100  isd_ic_mou_8              float64
 101  ic_others_6               float64
 102  ic_others_7               float64
 103  ic_others_8               float64
 104  total_rech_num_6          int64
 105  total_rech_num_7          int64
 106  total_rech_num_8          int64
 107  total_rech_amt_6          int64
 108  total_rech_amt_7          int64
 109  total_rech_amt_8          int64
 110  max_rech_amt_6            int64
 111  max_rech_amt_7            int64
 112  max_rech_amt_8            int64
 113  date_of_last_rech_6       object
 114  date_of_last_rech_7       object
 115  date_of_last_rech_8       object
 116  last_day_rch_amt_6        int64
 117  last_day_rch_amt_7        int64
 118  last_day_rch_amt_8        int64
 119  date_of_last_rech_data_6  object
 120  date_of_last_rech_data_7  object
 121  date_of_last_rech_data_8  object
 122  total_rech_data_6         float64
 123  total_rech_data_7         float64
 124  total_rech_data_8         float64
 125  max_rech_data_6           float64
 126  max_rech_data_7           float64
 127  max_rech_data_8           float64
 128  count_rech_2g_6           float64
 129  count_rech_2g_7           float64
 130  count_rech_2g_8           float64
 131  count_rech_3g_6           float64
 132  count_rech_3g_7           float64
 133  count_rech_3g_8           float64
 134  av_rech_amt_data_6        float64
 135  av_rech_amt_data_7        float64
 136  av_rech_amt_data_8        float64
 137  vol_2g_mb_6               float64
 138  vol_2g_mb_7               float64
 139  vol_2g_mb_8               float64
 140  vol_3g_mb_6               float64
 141  vol_3g_mb_7               float64
 142  vol_3g_mb_8               float64
 143  arpu_3g_6                 float64
 144  arpu_3g_7                 float64
 145  arpu_3g_8                 float64
 146  arpu_2g_6                 float64
 147  arpu_2g_7                 float64
 148  arpu_2g_8                 float64
 149  night_pck_user_6          float64
 150  night_pck_user_7          float64
 151  night_pck_user_8          float64
 152  monthly_2g_6              int64
 153  monthly_2g_7              int64
 154  monthly_2g_8              int64
 155  sachet_2g_6               int64
 156  sachet_2g_7               int64
 157  sachet_2g_8               int64
 158  monthly_3g_6              int64
 159  monthly_3g_7              int64
 160  monthly_3g_8              int64
 161  sachet_3g_6               int64
 162  sachet_3g_7               int64
 163  sachet_3g_8               int64
 164  fb_user_6                 float64
 165  fb_user_7                 float64
 166  fb_user_8                 float64
 167  aon                       int64
 168  aug_vbc_3g                float64
 169  jul_vbc_3g                float64
 170  jun_vbc_3g                float64
 171  churn_probability         int64
dtypes: float64(135), int64(28), object(9)
memory usage: 91.9+ MB

Note: Most of the fields are numeric and few date fields are object type which needs to be converted to date

In [107]:
data.describe(include="all")

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_og_mou_6,roam_og_mou_7,roam_og_mou_8,loc_og_t2t_mou_6,loc_og_t2t_mou_7,loc_og_t2t_mou_8,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8,std_og_t2t_mou_6,std_og_t2t_mou_7,std_og_t2t_mou_8,std_og_t2m_mou_6,std_og_t2m_mou_7,std_og_t2m_mou_8,std_og_t2f_mou_6,std_og_t2f_mou_7,std_og_t2f_mou_8,std_og_t2c_mou_6,std_og_t2c_mou_7,std_og_t2c_mou_8,std_og_mou_6,std_og_mou_7,std_og_mou_8,isd_og_mou_6,isd_og_mou_7,isd_og_mou_8,spl_og_mou_6,spl_og_mou_7,spl_og_mou_8,og_others_6,og_others_7,og_others_8,total_og_mou_6,total_og_mou_7,total_og_mou_8,loc_ic_t2t_mou_6,loc_ic_t2t_mou_7,loc_ic_t2t_mou_8,loc_ic_t2m_mou_6,loc_ic_t2m_mou_7,loc_ic_t2m_mou_8,loc_ic_t2f_mou_6,loc_ic_t2f_mou_7,loc_ic_t2f_mou_8,loc_ic_mou_6,loc_ic_mou_7,loc_ic_mou_8,std_ic_t2t_mou_6,std_ic_t2t_mou_7,std_ic_t2t_mou_8,std_ic_t2m_mou_6,std_ic_t2m_mou_7,std_ic_t2m_mou_8,std_ic_t2f_mou_6,std_ic_t2f_mou_7,std_ic_t2f_mou_8,std_ic_t2o_mou_6,std_ic_t2o_mou_7,std_ic_t2o_mou_8,std_ic_mou_6,std_ic_mou_7,std_ic_mou_8,total_ic_mou_6,total_ic_mou_7,total_ic_mou_8,spl_ic_mou_6,spl_ic_mou_7,spl_ic_mou_8,isd_ic_mou_6,isd_ic_mou_7,isd_ic_mou_8,ic_others_6,ic_others_7,ic_others_8,total_rech_num_6,total_rech_num_7,total_rech_num_8,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,last_day_rch_amt_6,last_day_rch_amt_7,last_day_rch_amt_8,date_of_last_rech_data_6,date_of_last_rech_data_7,date_of_last_rech_data_8,total_rech_data_6,total_rech_data_7,total_rech_data_8,max_rech_data_6,max_rech_data_7,max_rech_data_8,count_rech_2g_6,count_rech_2g_7,count_rech_2g_8,count_rech_3g_6,count_rech_3g_7,count_rech_3g_8,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,vol_2g_mb_6,vol_2g_mb_7,vol_2g_mb_8,vol_3g_mb_6,vol_3g_mb_7,vol_3g_mb_8,arpu_3g_6,arpu_3g_7,arpu_3g_8,arpu_2g_6,arpu_2g_7,arpu_2g_8,night_pck_user_6,night_pck_user_7,night_pck_user_8,monthly_2g_6,monthly_2g_7,monthly_2g_8,sachet_2g_6,sachet_2g_7,sachet_2g_8,monthly_3g_6,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
count,69999.00,69999.00,69297.00,69297.00,69297.00,69999,69600,69266,69999.00,69999.00,69999.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,69999.00,69999.00,69999.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,69999.00,69999.00,69999.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,67231.00,67312.00,66296.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,68898,68765,67538,69999.00,69999.00,69999.00,17568,17865,18417,17568.00,17865.00,18417.00,17568.00,17865.00,18417.00,17568.00,17865.00,18417.00,17568.00,17865.00,18417.00,17568.00,17865.00,18417.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,17568.00,17865.00,18417.00,17568.00,17865.00,18417.00,17568.00,17865.00,18417.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,69999.00,17568.00,17865.00,18417.00,69999.00,69999.00,69999.00,69999.00,69999.00
unique,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,31,31,NaN,NaN,NaN,30,31,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,6/30/2014,7/31/2014,8/31/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/30/2014,7/31/2014,8/31/2014,NaN,NaN,NaN,6/30/2014,7/31/2014,8/31/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,69999,69600,69266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11880,12206,10324,NaN,NaN,NaN,1317,1282,1388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,34999.00,109.00,0.00,0.00,0.00,NaN,NaN,NaN,283.13,278.19,278.86,133.15,133.89,132.98,198.87,197.15,196.54,9.77,7.01,7.00,14.19,9.84,9.77,46.90,46.17,45.69,93.24,90.80,91.12,3.74,3.78,3.66,1.13,1.36,1.42,143.89,140.75,140.48,80.62,83.78,83.47,88.15,91.54,90.59,1.13,1.08,1.06,0.00,0.00,0.00,169.90,176.40,175.12,0.85,0.81,0.84,3.96,4.98,5.05,0.46,0.02,0.03,306.45,310.57,304.51,48.04,47.88,47.26,107.15,106.49,108.15,12.05,12.56,11.72,167.26,166.95,167.14,9.48,9.87,9.91,20.73,21.69,21.09,2.15,2.20,2.08,0.00,0.00,0.00,32.36,33.76,33.08,199.71,201.88,198.49,0.06,0.03,0.04,7.39,8.17,8.35,0.85,1.02,0.96,7.57,7.71,7.22,328.14,322.38,323.85,104.57,104.14,107.54,NaN,NaN,NaN,63.43,59.29,62.49,NaN,NaN,NaN,2.47,2.68,2.65,126.50,126.40,125.37,1.87,2.06,2.02,0.60,0.62,0.64,192.83,201.46,196.82,51.77,51.24,50.13,122.17,128.93,135.49,90.07,89.12,90.62,86.86,85.85,86.35,0.03,0.02,0.02,0.08,0.08,0.08,0.39,0.44,0.45,0.08,0.08,0.08,0.08,0.08,0.09,0.92,0.91,0.89,1220.64,68.11,65.94,60.08,0.10
std,20207.12,0.00,0.00,0.00,0.00,NaN,NaN,NaN,334.21,344.37,351.92,299.96,311.28,311.90,316.82,322.48,324.09,57.37,55.96,53.41,73.47,58.51,64.62,150.97,154.74,153.72,162.05,153.85,153.00,13.32,13.57,13.01,5.74,7.91,6.54,252.03,246.31,245.34,255.10,266.69,267.02,255.77,267.53,270.03,8.14,8.33,7.70,0.00,0.00,0.00,392.05,409.30,410.70,29.75,29.22,29.56,15.85,22.23,17.71,4.77,1.72,2.23,465.50,479.13,477.94,140.50,147.76,141.25,168.46,165.45,166.22,39.42,43.50,38.61,252.58,254.69,249.29,51.66,56.14,54.25,80.29,87.31,81.53,16.52,16.17,15.87,0.00,0.00,0.00,104.38,114.14,108.47,290.11,296.77,288.34,0.16,0.14,0.15,60.95,63.60,63.10,12.15,13.23,11.70,7.04,7.05,7.20,404.21,411.07,426.18,121.41,120.78,124.40,NaN,NaN,NaN,97.95,95.43,102.00,NaN,NaN,NaN,2.79,3.07,3.10,109.35,109.46,109.65,2.57,2.80,2.73,1.28,1.40,1.46,190.62,198.35,192.28,212.51,211.11,213.10,554.87,554.10,568.31,193.60,195.83,189.91,171.32,178.07,170.30,0.16,0.15,0.14,0.29,0.30,0.30,1.49,1.65,1.63,0.36,0.38,0.38,0.57,0.63,0.68,0.28,0.29,0.31,952.43,269.33,267.90,257.23,0.30
min,0.00,109.00,0.00,0.00,0.00,NaN,NaN,NaN,-2258.71,-1289.71,-945.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,0.00,0.00,0.00,NaN,NaN,NaN,1.00,1.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,-20.38,-26.04,-24.49,-35.83,-13.09,-55.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,180.00,0.00,0.00,0.00,0.00
25%,17499.50,109.00,0.00,0.00,0.00,NaN,NaN,NaN,93.58,86.71,84.09,7.41,6.67,6.41,34.86,32.24,31.57,0.00,0.00,0.00,0.00,0.00,0.00,1.66,1.65,1.61,9.92,10.09,9.83,0.00,0.00,0.00,0.00,0.00,0.00,17.23,17.59,17.24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,44.78,42.91,38.71,3.03,3.26,3.28,17.39,18.61,18.94,0.00,0.00,0.00,30.63,32.71,32.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.03,38.64,41.34,38.29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00,3.00,3.00,110.00,100.00,90.00,30.00,30.00,30.00,NaN,NaN,NaN,0.00,0.00,0.00,NaN,NaN,NaN,1.00,1.00,1.00,25.00,25.00,25.00,1.00,1.00,1.00,0.00,0.00,0.00,82.00,92.00,84.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,468.00,0.00,0.00,0.00,0.00
50%,34999.00,109.00,0.00,0.00,0.00,NaN,NaN,NaN,197.48,191.59,192.23,34.11,32.28,32.10,96.48,91.88,91.80,0.00,0.00,0.00,0.00,0.00,0.00,11.91,11.58,11.74,41.03,40.17,40.35,0.00,0.00,0.00,0.00,0.00,0.00,65.19,63.43,63.52,0.00,0.00,0.00,3.98,3.71,3.30,0.00,0.00,0.00,0.00,0.00,0.00,11.73,11.26,10.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,145.28,141.23,138.36,15.74,15.83,16.04,56.46,56.93,58.21,0.88,0.91,0.93,92.43,92.51,93.89,0.00,0.00,0.00,2.04,2.06,2.03,0.00,0.00,0.00,0.00,0.00,0.00,5.91,5.98,5.83,114.78,116.33,114.61,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.00,6.00,5.00,229.00,220.00,225.00,110.00,110.00,98.00,NaN,NaN,NaN,30.00,30.00,30.00,NaN,NaN,NaN,1.00,2.00,1.00,145.00,145.00,145.00,1.00,1.00,1.00,0.00,0.00,0.00,154.00,154.00,154.00,0.00,0.00,0.00,0.00,0.00,0.00,0.52,0.42,0.84,11.30,8.80,9.09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,868.00,0.00,0.00,0.00,0.00
75%,52498.50,109.00,0.00,0.00,0.00,NaN,NaN,NaN,370.79,365.37,369.91,119.39,115.84,115.06,232.99,227.63,229.34,0.00,0.00,0.00,0.00,0.00,0.00,40.74,39.76,39.89,110.43,107.54,109.25,2.06,2.08,2.03,0.00,0.00,0.00,167.88,163.93,165.62,31.02,31.30,30.76,53.74,54.64,52.66,0.00,0.00,0.00,0.00,0.00,0.00,146.34,151.64,149.01,0.00,0.00,0.00,2.40,3.66,4.00,0.00,0.00,0.00,374.30,380.04,370.89,46.98,45.69,46.28,132.02,131.01,134.38,8.14,8.23,8.09,208.32,205.53,208.06,4.06,4.18,4.05,14.96,15.83,15.31,0.00,0.00,0.00,0.00,0.00,0.00,26.78,28.16,27.61,251.07,249.47,249.71,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,9.00,10.00,9.00,438.00,430.00,436.00,120.00,128.00,144.00,NaN,NaN,NaN,110.00,110.00,130.00,NaN,NaN,NaN,3.00,3.00,3.00,177.00,177.00,179.00,2.00,2.00,2.00,1.00,1.00,1.00,252.00,252.00,252.00,0.00,0.00,0.00,0.00,0.00,0.00,122.07,120.86,122.07,122.07,122.07,122.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,1813.00,0.00,0.00,0.00,0.00
max,69998.00,109.00,0.00,0.00,0.00,NaN,NaN,NaN,27731.09,35145.83,33543.62,7376.71,8157.78,10752.56,8362.36,7043.98,14007.34,2850.98,4155.83,4169.81,3775.11,2812.04,5337.04,6431.33,7400.66,10752.56,4696.83,4557.14,4961.33,617.58,815.33,588.29,342.86,916.24,351.83,10643.38,7674.78,11039.91,7366.58,8133.66,8014.43,8314.76,6622.54,13950.04,628.56,465.79,354.16,0.00,0.00,0.00,8432.99,8155.53,13980.06,5900.66,5490.28,5681.54,1023.21,2372.51,1075.08,800.89,270.24,394.93,10674.03,8285.64,14043.06,5315.59,9324.66,10696.23,4450.74,4455.83,6274.19,1872.34,1983.01,1676.58,7454.63,9669.91,10830.16,3336.38,4708.71,3930.24,5647.16,6141.88,5512.76,1351.11,1136.08,1394.89,0.00,0.00,0.00,5712.11,6745.76,5658.74,7716.14,9699.01,10830.38,19.76,13.46,16.86,6789.41,5289.54,4127.01,1362.94,1495.94,1209.86,170.00,138.00,138.00,35190.00,40335.00,45320.00,4010.00,3299.00,4449.00,NaN,NaN,NaN,4010.00,3100.00,4449.00,NaN,NaN,NaN,61.00,54.00,60.00,1555.00,1555.00,1555.00,42.00,48.00,44.00,29.00,34.00,45.00,5920.00,4365.00,4076.00,10285.90,7873.55,11117.61,45735.40,28144.12,30036.06,5054.37,4980.90,3716.90,5054.35,4809.36,3483.17,1.00,1.00,1.00,4.00,5.00,5.00,42.00,48.00,44.00,9.00,16.00,16.00,29.00,33.00,41.00,1.00,1.00,1.00,4337.00,12916.22,9165.60,11166.21,1.00

Note: 
1. There are fields like ID, circle ID which may not requried for further analysis. as ID is unique row ID and circle ID has zero variation. 
2. There are outliers in the data
3. There are few fields like night_pack, fb_user which have 0 or 1 (and null) which implies is a categorical field.

In [108]:
# Get the unique count
for col in data.columns:
    print("No of rows in " + col + ": ", len(data[col].unique()))

No of rows in id:  69999
No of rows in circle_id:  1
No of rows in loc_og_t2o_mou:  2
No of rows in std_og_t2o_mou:  2
No of rows in loc_ic_t2o_mou:  2
No of rows in last_date_of_month_6:  1
No of rows in last_date_of_month_7:  2
No of rows in last_date_of_month_8:  2
No of rows in arpu_6:  61615
No of rows in arpu_7:  61425
No of rows in arpu_8:  60194
No of rows in onnet_mou_6:  20058
No of rows in onnet_mou_7:  20077
No of rows in onnet_mou_8:  19726
No of rows in offnet_mou_6:  26255
No of rows in offnet_mou_7:  26140
No of rows in offnet_mou_8:  25996
No of rows in roam_ic_mou_6:  5307
No of rows in roam_ic_mou_7:  4241
No of rows in roam_ic_mou_8:  4253
No of rows in roam_og_mou_6:  6569
No of rows in roam_og_mou_7:  5306
No of rows in roam_og_mou_8:  5216
No of rows in loc_og_t2t_mou_6:  11492
No of rows in loc_og_t2t_mou_7:  11360
No of rows in loc_og_t2t_mou_8:  11297
No of rows in loc_og_t2m_mou_6:  17849
No of rows in loc_og_t2m_mou_7:  17642
No of rows in loc_og_t2m_mou_8:  17617
No of rows in loc_og_t2f_mou_6:  3377
No of rows in loc_og_t2f_mou_7:  3366
No of rows in loc_og_t2f_mou_8:  3312
No of rows in loc_og_t2c_mou_6:  1946
No of rows in loc_og_t2c_mou_7:  2104
No of rows in loc_og_t2c_mou_8:  2205
No of rows in loc_og_mou_6:  22310
No of rows in loc_og_mou_7:  22013
No of rows in loc_og_mou_8:  21951
No of rows in std_og_t2t_mou_6:  14555
No of rows in std_og_t2t_mou_7:  14746
No of rows in std_og_t2t_mou_8:  14484
No of rows in std_og_t2m_mou_6:  16060
No of rows in std_og_t2m_mou_7:  16235
No of rows in std_og_t2m_mou_8:  15969
No of rows in std_og_t2f_mou_6:  2075
No of rows in std_og_t2f_mou_7:  1992
No of rows in std_og_t2f_mou_8:  1946
No of rows in std_og_t2c_mou_6:  2
No of rows in std_og_t2c_mou_7:  2
No of rows in std_og_t2c_mou_8:  2
No of rows in std_og_mou_6:  21838
No of rows in std_og_mou_7:  22089
No of rows in std_og_mou_8:  21746
No of rows in isd_og_mou_6:  1104
No of rows in isd_og_mou_7:  1085
No of rows in isd_og_mou_8:  1009
No of rows in spl_og_mou_6:  3504
No of rows in spl_og_mou_7:  3828
No of rows in spl_og_mou_8:  3849
No of rows in og_others_6:  915
No of rows in og_others_7:  149
No of rows in og_others_8:  180
No of rows in total_og_mou_6:  33135
No of rows in total_og_mou_7:  33195
No of rows in total_og_mou_8:  32897
No of rows in loc_ic_t2t_mou_6:  11638
No of rows in loc_ic_t2t_mou_7:  11596
No of rows in loc_ic_t2t_mou_8:  11447
No of rows in loc_ic_t2m_mou_6:  19035
No of rows in loc_ic_t2m_mou_7:  18946
No of rows in loc_ic_t2m_mou_8:  19023
No of rows in loc_ic_t2f_mou_6:  6201
No of rows in loc_ic_t2f_mou_7:  6288
No of rows in loc_ic_t2f_mou_8:  6093
No of rows in loc_ic_mou_6:  24443
No of rows in loc_ic_mou_7:  24259
No of rows in loc_ic_mou_8:  24183
No of rows in std_ic_t2t_mou_6:  5324
No of rows in std_ic_t2t_mou_7:  5480
No of rows in std_ic_t2t_mou_8:  5368
No of rows in std_ic_t2m_mou_6:  7932
No of rows in std_ic_t2m_mou_7:  8034
No of rows in std_ic_t2m_mou_8:  7907
No of rows in std_ic_t2f_mou_6:  2625
No of rows in std_ic_t2f_mou_7:  2696
No of rows in std_ic_t2f_mou_8:  2584
No of rows in std_ic_t2o_mou_6:  2
No of rows in std_ic_t2o_mou_7:  2
No of rows in std_ic_t2o_mou_8:  2
No of rows in std_ic_mou_6:  9877
No of rows in std_ic_mou_7:  10113
No of rows in std_ic_mou_8:  9940
No of rows in total_ic_mou_6:  27432
No of rows in total_ic_mou_7:  27418
No of rows in total_ic_mou_8:  27318
No of rows in spl_ic_mou_6:  79
No of rows in spl_ic_mou_7:  104
No of rows in spl_ic_mou_8:  96
No of rows in isd_ic_mou_6:  4422
No of rows in isd_ic_mou_7:  4641
No of rows in isd_ic_mou_8:  4695
No of rows in ic_others_6:  1524
No of rows in ic_others_7:  1659
No of rows in ic_others_8:  1566
No of rows in total_rech_num_6:  94
No of rows in total_rech_num_7:  96
No of rows in total_rech_num_8:  92
No of rows in total_rech_amt_6:  2108
No of rows in total_rech_amt_7:  2147
No of rows in total_rech_amt_8:  2149
No of rows in max_rech_amt_6:  190
No of rows in max_rech_amt_7:  178
No of rows in max_rech_amt_8:  202
No of rows in date_of_last_rech_6:  31
No of rows in date_of_last_rech_7:  32
No of rows in date_of_last_rech_8:  32
No of rows in last_day_rch_amt_6:  179
No of rows in last_day_rch_amt_7:  166
No of rows in last_day_rch_amt_8:  191
No of rows in date_of_last_rech_data_6:  31
No of rows in date_of_last_rech_data_7:  32
No of rows in date_of_last_rech_data_8:  32
No of rows in total_rech_data_6:  37
No of rows in total_rech_data_7:  42
No of rows in total_rech_data_8:  45
No of rows in max_rech_data_6:  48
No of rows in max_rech_data_7:  46
No of rows in max_rech_data_8:  50
No of rows in count_rech_2g_6:  31
No of rows in count_rech_2g_7:  34
No of rows in count_rech_2g_8:  34
No of rows in count_rech_3g_6:  24
No of rows in count_rech_3g_7:  28
No of rows in count_rech_3g_8:  30
No of rows in av_rech_amt_data_6:  793
No of rows in av_rech_amt_data_7:  838
No of rows in av_rech_amt_data_8:  856
No of rows in vol_2g_mb_6:  11494
No of rows in vol_2g_mb_7:  11443
No of rows in vol_2g_mb_8:  11359
No of rows in vol_3g_mb_6:  9768
No of rows in vol_3g_mb_7:  10296
No of rows in vol_3g_mb_8:  10663
No of rows in arpu_3g_6:  5507
No of rows in arpu_3g_7:  5390
No of rows in arpu_3g_8:  5817
No of rows in arpu_2g_6:  5390
No of rows in arpu_2g_7:  5057
No of rows in arpu_2g_8:  5133
No of rows in night_pck_user_6:  3
No of rows in night_pck_user_7:  3
No of rows in night_pck_user_8:  3
No of rows in monthly_2g_6:  5
No of rows in monthly_2g_7:  6
No of rows in monthly_2g_8:  6
No of rows in sachet_2g_6:  30
No of rows in sachet_2g_7:  33
No of rows in sachet_2g_8:  32
No of rows in monthly_3g_6:  10
No of rows in monthly_3g_7:  13
No of rows in monthly_3g_8:  12
No of rows in sachet_3g_6:  23
No of rows in sachet_3g_7:  26
No of rows in sachet_3g_8:  28
No of rows in fb_user_6:  3
No of rows in fb_user_7:  3
No of rows in fb_user_8:  3
No of rows in aon:  3455
No of rows in aug_vbc_3g:  10609
No of rows in jul_vbc_3g:  10257
No of rows in jun_vbc_3g:  9617
No of rows in churn_probability:  2

We can observe from the above result that, the following fields have few values which may not be useful for analysis

id 

=> ***Unique value ***

circle_id ; last_date_of_month_6; last_date_of_month_7; last_date_of_month_8 

=> ***same values across all rows***; 

loc_og_t2o_mou; std_og_t2o_mou; loc_ic_t2o_mou
std_og_t2c_mou_6; std_og_t2c_mou_7; std_og_t2c_mou_8
std_ic_t2o_mou_6; std_ic_t2o_mou_7; std_ic_t2o_mou_8 

=>*** Only 0 or NULL value in these columns***

In [109]:
distinct_value = data.nunique()
distinct_value

id                          69999
circle_id                       1
loc_og_t2o_mou                  1
std_og_t2o_mou                  1
loc_ic_t2o_mou                  1
last_date_of_month_6            1
last_date_of_month_7            1
last_date_of_month_8            1
arpu_6                      61615
arpu_7                      61425
arpu_8                      60194
onnet_mou_6                 20057
onnet_mou_7                 20076
onnet_mou_8                 19725
offnet_mou_6                26254
offnet_mou_7                26139
offnet_mou_8                25995
roam_ic_mou_6                5306
roam_ic_mou_7                4240
roam_ic_mou_8                4252
roam_og_mou_6                6568
roam_og_mou_7                5305
roam_og_mou_8                5215
loc_og_t2t_mou_6            11491
loc_og_t2t_mou_7            11359
loc_og_t2t_mou_8            11296
loc_og_t2m_mou_6            17848
loc_og_t2m_mou_7            17641
loc_og_t2m_mou_8            17616
loc_og_t2f_mou_6             3376
loc_og_t2f_mou_7             3365
loc_og_t2f_mou_8             3311
loc_og_t2c_mou_6             1945
loc_og_t2c_mou_7             2103
loc_og_t2c_mou_8             2204
loc_og_mou_6                22309
loc_og_mou_7                22012
loc_og_mou_8                21950
std_og_t2t_mou_6            14554
std_og_t2t_mou_7            14745
std_og_t2t_mou_8            14483
std_og_t2m_mou_6            16059
std_og_t2m_mou_7            16234
std_og_t2m_mou_8            15968
std_og_t2f_mou_6             2074
std_og_t2f_mou_7             1991
std_og_t2f_mou_8             1945
std_og_t2c_mou_6                1
std_og_t2c_mou_7                1
std_og_t2c_mou_8                1
std_og_mou_6                21837
std_og_mou_7                22088
std_og_mou_8                21745
isd_og_mou_6                 1103
isd_og_mou_7                 1084
isd_og_mou_8                 1008
spl_og_mou_6                 3503
spl_og_mou_7                 3827
spl_og_mou_8                 3848
og_others_6                   914
og_others_7                   148
og_others_8                   179
total_og_mou_6              33135
total_og_mou_7              33195
total_og_mou_8              32897
loc_ic_t2t_mou_6            11637
loc_ic_t2t_mou_7            11595
loc_ic_t2t_mou_8            11446
loc_ic_t2m_mou_6            19034
loc_ic_t2m_mou_7            18945
loc_ic_t2m_mou_8            19022
loc_ic_t2f_mou_6             6200
loc_ic_t2f_mou_7             6287
loc_ic_t2f_mou_8             6092
loc_ic_mou_6                24442
loc_ic_mou_7                24258
loc_ic_mou_8                24182
std_ic_t2t_mou_6             5323
std_ic_t2t_mou_7             5479
std_ic_t2t_mou_8             5367
std_ic_t2m_mou_6             7931
std_ic_t2m_mou_7             8033
std_ic_t2m_mou_8             7906
std_ic_t2f_mou_6             2624
std_ic_t2f_mou_7             2695
std_ic_t2f_mou_8             2583
std_ic_t2o_mou_6                1
std_ic_t2o_mou_7                1
std_ic_t2o_mou_8                1
std_ic_mou_6                 9876
std_ic_mou_7                10112
std_ic_mou_8                 9939
total_ic_mou_6              27432
total_ic_mou_7              27418
total_ic_mou_8              27318
spl_ic_mou_6                   78
spl_ic_mou_7                  103
spl_ic_mou_8                   95
isd_ic_mou_6                 4421
isd_ic_mou_7                 4640
isd_ic_mou_8                 4694
ic_others_6                  1523
ic_others_7                  1658
ic_others_8                  1565
total_rech_num_6               94
total_rech_num_7               96
total_rech_num_8               92
total_rech_amt_6             2108
total_rech_amt_7             2147
total_rech_amt_8             2149
max_rech_amt_6                190
max_rech_amt_7                178
max_rech_amt_8                202
date_of_last_rech_6            30
date_of_last_rech_7            31
date_of_last_rech_8            31
last_day_rch_amt_6            179
last_day_rch_amt_7            166
last_day_rch_amt_8            191
date_of_last_rech_data_6       30
date_of_last_rech_data_7       31
date_of_last_rech_data_8       31
total_rech_data_6              36
total_rech_data_7              41
total_rech_data_8              44
max_rech_data_6                47
max_rech_data_7                45
max_rech_data_8                49
count_rech_2g_6                30
count_rech_2g_7                33
count_rech_2g_8                33
count_rech_3g_6                23
count_rech_3g_7                27
count_rech_3g_8                29
av_rech_amt_data_6            792
av_rech_amt_data_7            837
av_rech_amt_data_8            855
vol_2g_mb_6                 11494
vol_2g_mb_7                 11443
vol_2g_mb_8                 11359
vol_3g_mb_6                  9768
vol_3g_mb_7                 10296
vol_3g_mb_8                 10663
arpu_3g_6                    5506
arpu_3g_7                    5389
arpu_3g_8                    5816
arpu_2g_6                    5389
arpu_2g_7                    5056
arpu_2g_8                    5132
night_pck_user_6                2
night_pck_user_7                2
night_pck_user_8                2
monthly_2g_6                    5
monthly_2g_7                    6
monthly_2g_8                    6
sachet_2g_6                    30
sachet_2g_7                    33
sachet_2g_8                    32
monthly_3g_6                   10
monthly_3g_7                   13
monthly_3g_8                   12
sachet_3g_6                    23
sachet_3g_7                    26
sachet_3g_8                    28
fb_user_6                       2
fb_user_7                       2
fb_user_8                       2
aon                          3455
aug_vbc_3g                  10609
jul_vbc_3g                  10257
jun_vbc_3g                   9617
churn_probability               2
dtype: int64

Check % of NULLs in each column

In [110]:
(data.isnull().sum()/ len(data)) * 100

id                          0.00
circle_id                   0.00
loc_og_t2o_mou              1.00
std_og_t2o_mou              1.00
loc_ic_t2o_mou              1.00
last_date_of_month_6        0.00
last_date_of_month_7        0.57
last_date_of_month_8        1.05
arpu_6                      0.00
arpu_7                      0.00
arpu_8                      0.00
onnet_mou_6                 3.95
onnet_mou_7                 3.84
onnet_mou_8                 5.29
offnet_mou_6                3.95
offnet_mou_7                3.84
offnet_mou_8                5.29
roam_ic_mou_6               3.95
roam_ic_mou_7               3.84
roam_ic_mou_8               5.29
roam_og_mou_6               3.95
roam_og_mou_7               3.84
roam_og_mou_8               5.29
loc_og_t2t_mou_6            3.95
loc_og_t2t_mou_7            3.84
loc_og_t2t_mou_8            5.29
loc_og_t2m_mou_6            3.95
loc_og_t2m_mou_7            3.84
loc_og_t2m_mou_8            5.29
loc_og_t2f_mou_6            3.95
loc_og_t2f_mou_7            3.84
loc_og_t2f_mou_8            5.29
loc_og_t2c_mou_6            3.95
loc_og_t2c_mou_7            3.84
loc_og_t2c_mou_8            5.29
loc_og_mou_6                3.95
loc_og_mou_7                3.84
loc_og_mou_8                5.29
std_og_t2t_mou_6            3.95
std_og_t2t_mou_7            3.84
std_og_t2t_mou_8            5.29
std_og_t2m_mou_6            3.95
std_og_t2m_mou_7            3.84
std_og_t2m_mou_8            5.29
std_og_t2f_mou_6            3.95
std_og_t2f_mou_7            3.84
std_og_t2f_mou_8            5.29
std_og_t2c_mou_6            3.95
std_og_t2c_mou_7            3.84
std_og_t2c_mou_8            5.29
std_og_mou_6                3.95
std_og_mou_7                3.84
std_og_mou_8                5.29
isd_og_mou_6                3.95
isd_og_mou_7                3.84
isd_og_mou_8                5.29
spl_og_mou_6                3.95
spl_og_mou_7                3.84
spl_og_mou_8                5.29
og_others_6                 3.95
og_others_7                 3.84
og_others_8                 5.29
total_og_mou_6              0.00
total_og_mou_7              0.00
total_og_mou_8              0.00
loc_ic_t2t_mou_6            3.95
loc_ic_t2t_mou_7            3.84
loc_ic_t2t_mou_8            5.29
loc_ic_t2m_mou_6            3.95
loc_ic_t2m_mou_7            3.84
loc_ic_t2m_mou_8            5.29
loc_ic_t2f_mou_6            3.95
loc_ic_t2f_mou_7            3.84
loc_ic_t2f_mou_8            5.29
loc_ic_mou_6                3.95
loc_ic_mou_7                3.84
loc_ic_mou_8                5.29
std_ic_t2t_mou_6            3.95
std_ic_t2t_mou_7            3.84
std_ic_t2t_mou_8            5.29
std_ic_t2m_mou_6            3.95
std_ic_t2m_mou_7            3.84
std_ic_t2m_mou_8            5.29
std_ic_t2f_mou_6            3.95
std_ic_t2f_mou_7            3.84
std_ic_t2f_mou_8            5.29
std_ic_t2o_mou_6            3.95
std_ic_t2o_mou_7            3.84
std_ic_t2o_mou_8            5.29
std_ic_mou_6                3.95
std_ic_mou_7                3.84
std_ic_mou_8                5.29
total_ic_mou_6              0.00
total_ic_mou_7              0.00
total_ic_mou_8              0.00
spl_ic_mou_6                3.95
spl_ic_mou_7                3.84
spl_ic_mou_8                5.29
isd_ic_mou_6                3.95
isd_ic_mou_7                3.84
isd_ic_mou_8                5.29
ic_others_6                 3.95
ic_others_7                 3.84
ic_others_8                 5.29
total_rech_num_6            0.00
total_rech_num_7            0.00
total_rech_num_8            0.00
total_rech_amt_6            0.00
total_rech_amt_7            0.00
total_rech_amt_8            0.00
max_rech_amt_6              0.00
max_rech_amt_7              0.00
max_rech_amt_8              0.00
date_of_last_rech_6         1.57
date_of_last_rech_7         1.76
date_of_last_rech_8         3.52
last_day_rch_amt_6          0.00
last_day_rch_amt_7          0.00
last_day_rch_amt_8          0.00
date_of_last_rech_data_6   74.90
date_of_last_rech_data_7   74.48
date_of_last_rech_data_8   73.69
total_rech_data_6          74.90
total_rech_data_7          74.48
total_rech_data_8          73.69
max_rech_data_6            74.90
max_rech_data_7            74.48
max_rech_data_8            73.69
count_rech_2g_6            74.90
count_rech_2g_7            74.48
count_rech_2g_8            73.69
count_rech_3g_6            74.90
count_rech_3g_7            74.48
count_rech_3g_8            73.69
av_rech_amt_data_6         74.90
av_rech_amt_data_7         74.48
av_rech_amt_data_8         73.69
vol_2g_mb_6                 0.00
vol_2g_mb_7                 0.00
vol_2g_mb_8                 0.00
vol_3g_mb_6                 0.00
vol_3g_mb_7                 0.00
vol_3g_mb_8                 0.00
arpu_3g_6                  74.90
arpu_3g_7                  74.48
arpu_3g_8                  73.69
arpu_2g_6                  74.90
arpu_2g_7                  74.48
arpu_2g_8                  73.69
night_pck_user_6           74.90
night_pck_user_7           74.48
night_pck_user_8           73.69
monthly_2g_6                0.00
monthly_2g_7                0.00
monthly_2g_8                0.00
sachet_2g_6                 0.00
sachet_2g_7                 0.00
sachet_2g_8                 0.00
monthly_3g_6                0.00
monthly_3g_7                0.00
monthly_3g_8                0.00
sachet_3g_6                 0.00
sachet_3g_7                 0.00
sachet_3g_8                 0.00
fb_user_6                  74.90
fb_user_7                  74.48
fb_user_8                  73.69
aon                         0.00
aug_vbc_3g                  0.00
jul_vbc_3g                  0.00
jun_vbc_3g                  0.00
churn_probability           0.00
dtype: float64

Few columns have more than 70% missing values. The missing values % for month 6,7,8 across various fields here and it looks like the customers didnt recharge that particualr month and hence the metrics related to that month is also null. 

The list columns can be grouped as arpu, mou, ic, og, rech, 3g mb, 2g mb, service flag fields like - night pack, monthly 2g,3g, sachet, fb service. In places where there is null it means the facility was not used e.g. mou null indicate no call was made so these can be filled with 0. Flag fields like fb service being null indicate that the service wasnt used and that be 0 as well.

As per the problem statement is focussed on high value customers churn probability. A customer whose recharge amount is at higher end ( e.g. more than average recharge amount) will be considered high value customers. So, lets keep the rech related columns for now and impute missing values.

In [111]:
outlier = data.describe().T.round(2)
outlier['flag'] =  (outlier['75%'] != 0) | (((outlier['max'] - outlier['75%']) / (outlier['75%'] - outlier['50%'])) > 50)
outlier

,count,mean,std,min,25%,50%,75%,max,flag
id,69999.00,34999.00,20207.12,0.00,17499.50,34999.00,52498.50,69998.00,True
circle_id,69999.00,109.00,0.00,109.00,109.00,109.00,109.00,109.00,True
loc_og_t2o_mou,69297.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,False
std_og_t2o_mou,69297.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,False
loc_ic_t2o_mou,69297.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,False
arpu_6,69999.00,283.13,334.21,-2258.71,93.58,197.48,370.79,27731.09,True
arpu_7,69999.00,278.19,344.37,-1289.71,86.71,191.59,365.37,35145.83,True
arpu_8,69999.00,278.86,351.92,-945.81,84.10,192.23,369.91,33543.62,True
onnet_mou_6,67231.00,133.15,299.96,0.00,7.41,34.11,119.39,7376.71,True
onnet_mou_7,67312.00,133.89,311.28,0.00,6.68,32.28,115.84,8157.78,True
onnet_mou_8,66296.00,132.98,311.90,0.00,6.41,32.10,115.06,10752.56,True
offnet_mou_6,67231.00,198.87,316.82,0.00,34.86,96.48,232.99,8362.36,True
offnet_mou_7,67312.00,197.15,322.48,0.00,32.24,91.88,227.63,7043.98,True
offnet_mou_8,66296.00,196.54,324.09,0.00,31.58,91.80,229.34,14007.34,True
roam_ic_mou_6,67231.00,9.77,57.37,0.00,0.00,0.00,0.00,2850.98,True
roam_ic_mou_7,67312.00,7.01,55.96,0.00,0.00,0.00,0.00,4155.83,True
roam_ic_mou_8,66296.00,7.00,53.41,0.00,0.00,0.00,0.00,4169.81,True
roam_og_mou_6,67231.00,14.19,73.47,0.00,0.00,0.00,0.00,3775.11,True
roam_og_mou_7,67312.00,9.84,58.51,0.00,0.00,0.00,0.00,2812.04,True
roam_og_mou_8,66296.00,9.77,64.62,0.00,0.00,0.00,0.00,5337.04,True
loc_og_t2t_mou_6,67231.00,46.90,150.97,0.00,1.66,11.91,40.74,6431.33,True
loc_og_t2t_mou_7,67312.00,46.17,154.74,0.00,1.65,11.58,39.76,7400.66,True
loc_og_t2t_mou_8,66296.00,45.69,153.72,0.00,1.61,11.74,39.89,10752.56,True
loc_og_t2m_mou_6,67231.00,93.24,162.05,0.00,9.92,41.03,110.43,4696.83,True
loc_og_t2m_mou_7,67312.00,90.80,153.85,0.00,10.09,40.17,107.54,4557.14,True
loc_og_t2m_mou_8,66296.00,91.12,153.00,0.00,9.83,40.35,109.24,4961.33,True
loc_og_t2f_mou_6,67231.00,3.74,13.32,0.00,0.00,0.00,2.06,617.58,True
loc_og_t2f_mou_7,67312.00,3.78,13.57,0.00,0.00,0.00,2.08,815.33,True
loc_og_t2f_mou_8,66296.00,3.66,13.01,0.00,0.00,0.00,2.03,588.29,True
loc_og_t2c_mou_6,67231.00,1.13,5.74,0.00,0.00,0.00,0.00,342.86,True
loc_og_t2c_mou_7,67312.00,1.36,7.91,0.00,0.00,0.00,0.00,916.24,True
loc_og_t2c_mou_8,66296.00,1.42,6.54,0.00,0.00,0.00,0.00,351.83,True
loc_og_mou_6,67231.00,143.89,252.03,0.00,17.24,65.19,167.88,10643.38,True
loc_og_mou_7,67312.00,140.75,246.31,0.00,17.59,63.43,163.93,7674.78,True
loc_og_mou_8,66296.00,140.48,245.34,0.00,17.24,63.52,165.62,11039.91,True
std_og_t2t_mou_6,67231.00,80.62,255.10,0.00,0.00,0.00,31.02,7366.58,True
std_og_t2t_mou_7,67312.00,83.78,266.69,0.00,0.00,0.00,31.30,8133.66,True
std_og_t2t_mou_8,66296.00,83.47,267.02,0.00,0.00,0.00,30.76,8014.43,True
std_og_t2m_mou_6,67231.00,88.15,255.77,0.00,0.00,3.98,53.74,8314.76,True
std_og_t2m_mou_7,67312.00,91.54,267.53,0.00,0.00,3.71,54.64,6622.54,True
std_og_t2m_mou_8,66296.00,90.59,270.03,0.00,0.00,3.30,52.66,13950.04,True
std_og_t2f_mou_6,67231.00,1.13,8.14,0.00,0.00,0.00,0.00,628.56,True
std_og_t2f_mou_7,67312.00,1.08,8.33,0.00,0.00,0.00,0.00,465.79,True
std_og_t2f_mou_8,66296.00,1.06,7.70,0.00,0.00,0.00,0.00,354.16,True
std_og_t2c_mou_6,67231.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,False
std_og_t2c_mou_7,67312.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,False
std_og_t2c_mou_8,66296.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,False
std_og_mou_6,67231.00,169.90,392.05,0.00,0.00,11.73,146.34,8432.99,True
std_og_mou_7,67312.00,176.40,409.30,0.00,0.00,11.26,151.64,8155.53,True
std_og_mou_8,66296.00,175.12,410.70,0.00,0.00,10.50,149.01,13980.06,True
isd_og_mou_6,67231.00,0.85,29.75,0.00,0.00,0.00,0.00,5900.66,True
isd_og_mou_7,67312.00,0.81,29.22,0.00,0.00,0.00,0.00,5490.28,True
isd_og_mou_8,66296.00,0.84,29.56,0.00,0.00,0.00,0.00,5681.54,True
spl_og_mou_6,67231.00,3.96,15.85,0.00,0.00,0.00,2.40,1023.21,True
spl_og_mou_7,67312.00,4.98,22.23,0.00,0.00,0.00,3.66,2372.51,True
spl_og_mou_8,66296.00,5.05,17.71,0.00,0.00,0.00,4.00,1075.08,True
og_others_6,67231.00,0.46,4.77,0.00,0.00,0.00,0.00,800.89,True
og_others_7,67312.00,0.02,1.72,0.00,0.00,0.00,0.00,270.24,True
og_others_8,66296.00,0.03,2.23,0.00,0.00,0.00,0.00,394.93,True
total_og_mou_6,69999.00,306.45,465.50,0.00,44.78,145.28,374.30,10674.03,True
total_og_mou_7,69999.00,310.57,479.13,0.00,42.91,141.23,380.04,8285.64,True
total_og_mou_8,69999.00,304.51,477.94,0.00,38.71,138.36,370.90,14043.06,True
loc_ic_t2t_mou_6,67231.00,48.04,140.50,0.00,3.03,15.74,46.98,5315.59,True
loc_ic_t2t_mou_7,67312.00,47.88,147.76,0.00,3.26,15.83,45.69,9324.66,True
loc_ic_t2t_mou_8,66296.00,47.26,141.25,0.00,3.28,16.04,46.28,10696.23,True
loc_ic_t2m_mou_6,67231.00,107.15,168.46,0.00,17.39,56.46,132.02,4450.74,True
loc_ic_t2m_mou_7,67312.00,106.49,165.45,0.00,18.61,56.93,131.01,4455.83,True
loc_ic_t2m_mou_8,66296.00,108.15,166.22,0.00,18.94,58.21,134.38,6274.19,True
loc_ic_t2f_mou_6,67231.00,12.05,39.42,0.00,0.00,0.88,8.14,1872.34,True
loc_ic_t2f_mou_7,67312.00,12.56,43.50,0.00,0.00,0.91,8.23,1983.01,True
loc_ic_t2f_mou_8,66296.00,11.72,38.61,0.00,0.00,0.93,8.09,1676.58,True
loc_ic_mou_6,67231.00,167.26,252.58,0.00,30.63,92.43,208.32,7454.63,True
loc_ic_mou_7,67312.00,166.95,254.69,0.00,32.71,92.51,205.53,9669.91,True
loc_ic_mou_8,66296.00,167.14,249.29,0.00,32.81,93.89,208.06,10830.16,True
std_ic_t2t_mou_6,67231.00,9.48,51.66,0.00,0.00,0.00,4.06,3336.38,True
std_ic_t2t_mou_7,67312.00,9.87,56.14,0.00,0.00,0.00,4.18,4708.71,True
std_ic_t2t_mou_8,66296.00,9.91,54.25,0.00,0.00,0.00,4.05,3930.24,True
std_ic_t2m_mou_6,67231.00,20.73,80.29,0.00,0.00,2.04,14.96,5647.16,True
std_ic_t2m_mou_7,67312.00,21.69,87.31,0.00,0.00,2.06,15.83,6141.88,True
std_ic_t2m_mou_8,66296.00,21.09,81.53,0.00,0.00,2.03,15.31,5512.76,True
std_ic_t2f_mou_6,67231.00,2.15,16.52,0.00,0.00,0.00,0.00,1351.11,True
std_ic_t2f_mou_7,67312.00,2.20,16.17,0.00,0.00,0.00,0.00,1136.08,True
std_ic_t2f_mou_8,66296.00,2.08,15.87,0.00,0.00,0.00,0.00,1394.89,True
std_ic_t2o_mou_6,67231.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,False
std_ic_t2o_mou_7,67312.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,False
std_ic_t2o_mou_8,66296.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,False
std_ic_mou_6,67231.00,32.36,104.38,0.00,0.00,5.91,26.78,5712.11,True
std_ic_mou_7,67312.00,33.76,114.14,0.00,0.00,5.98,28.16,6745.76,True
std_ic_mou_8,66296.00,33.08,108.47,0.00,0.03,5.83,27.62,5658.74,True
total_ic_mou_6,69999.00,199.71,290.11,0.00,38.64,114.78,251.07,7716.14,True
total_ic_mou_7,69999.00,201.88,296.77,0.00,41.34,116.33,249.47,9699.01,True
total_ic_mou_8,69999.00,198.49,288.34,0.00,38.29,114.61,249.71,10830.38,True
spl_ic_mou_6,67231.00,0.06,0.16,0.00,0.00,0.00,0.00,19.76,True
spl_ic_mou_7,67312.00,0.03,0.14,0.00,0.00,0.00,0.00,13.46,True
spl_ic_mou_8,66296.00,0.04,0.15,0.00,0.00,0.00,0.00,16.86,True
isd_ic_mou_6,67231.00,7.39,60.95,0.00,0.00,0.00,0.00,6789.41,True
isd_ic_mou_7,67312.00,8.17,63.60,0.00,0.00,0.00,0.00,5289.54,True
isd_ic_mou_8,66296.00,8.35,63.10,0.00,0.00,0.00,0.00,4127.01,True
ic_others_6,67231.00,0.85,12.15,0.00,0.00,0.00,0.00,1362.94,True
ic_others_7,67312.00,1.02,13.23,0.00,0.00,0.00,0.00,1495.94,True
ic_others_8,66296.00,0.96,11.70,0.00,0.00,0.00,0.00,1209.86,True
total_rech_num_6,69999.00,7.57,7.04,0.00,3.00,6.00,9.00,170.00,True
total_rech_num_7,69999.00,7.71,7.05,0.00,3.00,6.00,10.00,138.00,True
total_rech_num_8,69999.00,7.22,7.20,0.00,3.00,5.00,9.00,138.00,True
total_rech_amt_6,69999.00,328.14,404.21,0.00,110.00,229.00,438.00,35190.00,True
total_rech_amt_7,69999.00,322.38,411.07,0.00,100.00,220.00,430.00,40335.00,True
total_rech_amt_8,69999.00,323.85,426.18,0.00,90.00,225.00,436.00,45320.00,True
max_rech_amt_6,69999.00,104.57,121.41,0.00,30.00,110.00,120.00,4010.00,True
max_rech_amt_7,69999.00,104.14,120.78,0.00,30.00,110.00,128.00,3299.00,True
max_rech_amt_8,69999.00,107.54,124.40,0.00,30.00,98.00,144.00,4449.00,True
last_day_rch_amt_6,69999.00,63.43,97.95,0.00,0.00,30.00,110.00,4010.00,True
last_day_rch_amt_7,69999.00,59.29,95.43,0.00,0.00,30.00,110.00,3100.00,True
last_day_rch_amt_8,69999.00,62.49,102.00,0.00,0.00,30.00,130.00,4449.00,True
total_rech_data_6,17568.00,2.47,2.79,1.00,1.00,1.00,3.00,61.00,True
total_rech_data_7,17865.00,2.68,3.07,1.00,1.00,2.00,3.00,54.00,True
total_rech_data_8,18417.00,2.65,3.10,1.00,1.00,1.00,3.00,60.00,True
max_rech_data_6,17568.00,126.50,109.35,1.00,25.00,145.00,177.00,1555.00,True
max_rech_data_7,17865.00,126.40,109.46,1.00,25.00,145.00,177.00,1555.00,True
max_rech_data_8,18417.00,125.37,109.65,1.00,25.00,145.00,179.00,1555.00,True
count_rech_2g_6,17568.00,1.87,2.57,0.00,1.00,1.00,2.00,42.00,True
count_rech_2g_7,17865.00,2.06,2.80,0.00,1.00,1.00,2.00,48.00,True
count_rech_2g_8,18417.00,2.02,2.73,0.00,1.00,1.00,2.00,44.00,True
count_rech_3g_6,17568.00,0.60,1.28,0.00,0.00,0.00,1.00,29.00,True
count_rech_3g_7,17865.00,0.62,1.40,0.00,0.00,0.00,1.00,34.00,True
count_rech_3g_8,18417.00,0.64,1.46,0.00,0.00,0.00,1.00,45.00,True
av_rech_amt_data_6,17568.00,192.83,190.62,1.00,82.00,154.00,252.00,5920.00,True
av_rech_amt_data_7,17865.00,201.46,198.35,1.00,92.00,154.00,252.00,4365.00,True
av_rech_amt_data_8,18417.00,196.82,192.28,1.00,84.00,154.00,252.00,4076.00,True
vol_2g_mb_6,69999.00,51.77,212.51,0.00,0.00,0.00,0.00,10285.90,True
vol_2g_mb_7,69999.00,51.24,211.11,0.00,0.00,0.00,0.00,7873.55,True
vol_2g_mb_8,69999.00,50.13,213.10,0.00,0.00,0.00,0.00,11117.61,True
vol_3g_mb_6,69999.00,122.17,554.87,0.00,0.00,0.00,0.00,45735.40,True
vol_3g_mb_7,69999.00,128.93,554.10,0.00,0.00,0.00,0.00,28144.12,True
vol_3g_mb_8,69999.00,135.49,568.31,0.00,0.00,0.00,0.00,30036.06,True
arpu_3g_6,17568.00,90.07,193.60,-20.38,0.00,0.52,122.07,5054.37,True
arpu_3g_7,17865.00,89.12,195.83,-26.04,0.00,0.42,120.86,4980.90,True
arpu_3g_8,18417.00,90.62,189.91,-24.49,0.00,0.84,122.07,3716.90,True
arpu_2g_6,17568.00,86.86,171.32,-35.83,0.00,11.30,122.07,5054.35,True
arpu_2g_7,17865.00,85.85,178.07,-13.09,0.00,8.80,122.07,4809.36,True
arpu_2g_8,18417.00,86.35,170.30,-55.83,0.00,9.09,122.07,3483.17,True
night_pck_user_6,17568.00,0.03,0.16,0.00,0.00,0.00,0.00,1.00,True
night_pck_user_7,17865.00,0.02,0.15,0.00,0.00,0.00,0.00,1.00,True
night_pck_user_8,18417.00,0.02,0.14,0.00,0.00,0.00,0.00,1.00,True
monthly_2g_6,69999.00,0.08,0.29,0.00,0.00,0.00,0.00,4.00,True
monthly_2g_7,69999.00,0.08,0.30,0.00,0.00,0.00,0.00,5.00,True
monthly_2g_8,69999.00,0.08,0.30,0.00,0.00,0.00,0.00,5.00,True
sachet_2g_6,69999.00,0.39,1.49,0.00,0.00,0.00,0.00,42.00,True
sachet_2g_7,69999.00,0.44,1.65,0.00,0.00,0.00,0.00,48.00,True
sachet_2g_8,69999.00,0.45,1.63,0.00,0.00,0.00,0.00,44.00,True
monthly_3g_6,69999.00,0.08,0.36,0.00,0.00,0.00,0.00,9.00,True
monthly_3g_7,69999.00,0.08,0.38,0.00,0.00,0.00,0.00,16.00,True
monthly_3g_8,69999.00,0.08,0.38,0.00,0.00,0.00,0.00,16.00,True
sachet_3g_6,69999.00,0.08,0.57,0.00,0.00,0.00,0.00,29.00,True
sachet_3g_7,69999.00,0.08,0.63,0.00,0.00,0.00,0.00,33.00,True
sachet_3g_8,69999.00,0.09,0.68,0.00,0.00,0.00,0.00,41.00,True
fb_user_6,17568.00,0.92,0.28,0.00,1.00,1.00,1.00,1.00,True
fb_user_7,17865.00,0.91,0.29,0.00,1.00,1.00,1.00,1.00,True
fb_user_8,18417.00,0.89,0.31,0.00,1.00,1.00,1.00,1.00,True
aon,69999.00,1220.64,952.43,180.00,468.00,868.00,1813.00,4337.00,True
aug_vbc_3g,69999.00,68.11,269.33,0.00,0.00,0.00,0.00,12916.22,True
jul_vbc_3g,69999.00,65.94,267.90,0.00,0.00,0.00,0.00,9165.60,True
jun_vbc_3g,69999.00,60.08,257.23,0.00,0.00,0.00,0.00,11166.21,True
churn_probability,69999.00,0.10,0.30,0.00,0.00,0.00,0.00,1.00,True

###Note : Most of the attributes have outlier in it. We could treat the outliers by removing the records are handle them via. scaling technique (Robust Scaler)

#3. Preprocessing

In [ ]:
data = Preprocess(data,'DropUniqueColumns')
data = Preprocess(data,'Drop0VariationColumns')
data = Preprocess(data,'ConverttoDate')
data = Preprocess(data,'DeriveLastRechargeDay')
data = Preprocess(data,'Fill0inFloatColumns')
data = Preprocess(data,'DeriveAdditionalFeatures')
data = Preprocess(data,'DropRedundantColumns')
data = Preprocess(data,'HandleOutliers')

In [ ]:
(data.isnull().sum()/ len(data)) * 100

### Filter for High Value Customer

Identify High Value Customer based on arpu - Average revenue per user measures the amount of money that a company can expect to generate from an individual customer. June /Julyis expected to be in good phase where arpu is assumed to be good. We will use June/July arpu to filter customers. Each month, 50% of revenue is generated by 20% customers whose arpu is above 80th percentile. We will use this logic to filter high value customers

In [ ]:
df6 = data.loc[(data['arpu_6'] >= data['arpu_6'].quantile(0.8))]
df7 = data.loc[(data['arpu_7'] >= data['arpu_7'].quantile(0.8))]

data_key_customers = pd.concat([df6,df7]).drop_duplicates().reset_index(drop=True)
print('% of revenue generated by the filtered customers for June = ', df6['arpu_6'].sum()/data['arpu_6'].sum() )
print('% of revenue generated by the filtered customers for July = ', df7['arpu_7'].sum()/data['arpu_7'].sum() )

In [ ]:
data_key_customers.shape

# 4. EDA

In [ ]:
#Analysis on Churn Probability
plt.figure(figsize= (6,4))
PlotAttribute(data, 'churn_probability', 'Churn Probability', 'Churn Status', 'Count of Churned Customers')
PlotAttribute(data_key_customers, 'churn_probability', 'Churn Probability', 'Churn Status', 'Count of Churned Customers')
plt.show()

Note: 

Overall, 10% customers have churned.

Among the total high value customers, 12 % customers have churned.

Approx. Among total customers who have churned, 30% customers are high value customers

### Last Recharge Date

In [ ]:
fig, (ax1, ax2) = plt.subplots(1,2,figsize=(12, 4))
# bin the aon column with yearwise segments and plot the counts for each segments
bins = [-1, 0, 2, 4, 6,8, 10, 12, 14]
labels = [0, 2, 4, 6,8, 10, 12, 14]
pd.crosstab(pd.cut(round((data_key_customers['lastrechargedayago']/7),1), bins = bins, labels = labels ), data_key_customers['churn_probability']).plot(kind='bar', stacked=True,  ax = ax1)
pd.crosstab(pd.cut(round((data_key_customers['lastdatarechargedayago']/7),1), bins = bins, labels = labels ), data_key_customers['churn_probability']).plot(kind='bar', stacked=True,  ax = ax2)
plt.show()

Note : 

Even customers who have recharged in the last 2 weeks have churned.

Last Data Recharge being 0 indicates the date is not available. We can see customers who havent recharged data in the recent past/unknown have churned more

### Age on Network

In [ ]:
plt.figure(figsize= (6,4))
# bin the aon column with yearwise segments and plot the counts for each segments
bins = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
labels = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
#sns.countplot(pd.cut(round(((data['aon']/30)/12),1), bins = bins, labels = labels ), ax =ax1)
pd.crosstab(pd.cut(round(((data_key_customers['aon']/30)/12),1), bins = bins, labels = labels ), data['churn_probability']).plot(kind='bar', stacked=True)
plt.show()
#Churn probability is higher when aon is between 1 and 3 years.

### Average revenue per user

In [ ]:
fig, (ax1, ax2, ax3) = plt.subplots(1,3,figsize=(12, 4))
arpu_bins = [0, 100,200,400,700,15000]
arpu_bucket = ['Less than 100', '100 to 200', '200 to 400', '400 to 700', '700 +']
data_key_customers['arpu_6_range'] = pd.cut(data_key_customers['arpu_6'].astype(int), arpu_bins, labels=arpu_bucket)
data_key_customers['arpu_7_range'] = pd.cut(data_key_customers['arpu_7'].astype(int), arpu_bins, labels=arpu_bucket)
data_key_customers['arpu_8_range'] = pd.cut(data_key_customers['arpu_8'].astype(int), arpu_bins, labels=arpu_bucket)
#print(data['arpu_6_range'].value_counts(), "\n" ,
#data['arpu_7_range'].value_counts() , "\n",
#data['arpu_8_range'].value_counts())
pd.crosstab( data_key_customers['arpu_6_range'], data_key_customers['churn_probability']).plot(kind='bar', stacked=True, ax = ax1)

pd.crosstab( data_key_customers['arpu_7_range'], data_key_customers['churn_probability']).plot(kind='bar', stacked=True, ax = ax2)

pd.crosstab( data_key_customers['arpu_8_range'], data_key_customers['churn_probability']).plot(kind='bar', stacked=True, ax = ax3)


data_key_customers.drop(['arpu_6_range', 'arpu_7_range', 'arpu_8_range'], axis = 1, inplace = True)

# It can be noticed that arpu reduces over the period when the customer is about to churn

In [ ]:
pd.options.display.float_format = '{:,}'.format
table = ((pd.pivot_table(data_key_customers,index=['churn_probability'],aggfunc={'total_ic_mou_6':np.sum,'total_ic_mou_7':np.sum,'total_ic_mou_8':np.sum,
                                                                   'total_og_mou_6':np.sum,'total_og_mou_7':np.sum,'total_og_mou_8':np.sum}))).round(2)
table

Note: In the action phase, there is decline in both incoming and outgoing minutes

In [ ]:
pd.options.display.float_format = '{:,}'.format
table = ((pd.pivot_table(data_key_customers,index=['churn_probability'],aggfunc={ 'total_rech_amt_6':np.sum,'total_rech_amt_7':np.sum,'total_rech_amt_8':np.sum,
                                                                   'last_day_rch_amt_6':np.sum,'last_day_rch_amt_7':np.sum,'last_day_rch_amt_8':np.sum}))).round(2)
table

Note: We can see recharge amount going down from July itself in case of churn customers.

In [ ]:
pd.options.display.float_format = '{:,}'.format
table = ((pd.pivot_table(data_key_customers,index=['churn_probability'],aggfunc={'arpu_6':np.sum,'arpu_7':np.sum,'arpu_8':np.sum,
                                                                   'arpu_3g_6':np.sum,'arpu_3g_7':np.sum,'arpu_3g_8':np.sum,
                                                                   'arpu_2g_6':np.sum,'arpu_2g_7':np.sum,'arpu_2g_8':np.sum}))).round(2)
table

Note : In cases of churn, we can notice arpu declining over the period. Arpu is a good indicator to identify customer who might churn soon.

### Categorical Fields - Service packs

In [ ]:
#Analysis on categorrical fields
category_list = ['night_pck_user_6', 'night_pck_user_7', 'night_pck_user_8', 'fb_user_6', 'fb_user_7', 'fb_user_8']
counter = 1

plt.figure(figsize = (10, 10))

for col_list in category_list:
    plt.subplot(3, 3, counter)
    service_data = data_key_customers.loc[(data[col_list] == 1)]
    PlotAttribute(service_data, 'churn_probability', '', col_list, 'Count of Customers')
    counter += 1

plt.subplots_adjust(hspace = 0.3)
plt.subplots_adjust(wspace = 0.5)
plt.show()

Note : There doesnt seem to be much variation in night pack /3g sachet but there is slight reduction in Facebook service usage among churn customers

In [ ]:
pd.options.display.float_format = '{:,}'.format
table = ((pd.pivot_table(data_key_customers,index=['churn_probability'],aggfunc={'total_og_mou_6':np.sum,'total_og_mou_7':np.sum,'total_og_mou_8':np.sum,
                                                                   'total_ic_mou_6':np.sum,'total_ic_mou_7':np.sum,'total_ic_mou_8':np.sum,
                                                                   'av_rech_amt_data_6':np.sum,'av_rech_amt_data_7':np.sum,'av_rech_amt_data_8':np.sum}))).round(2)
table

Note : Outgoing calls, Incoming Calls and recharge amount for data seems to be declining for during the action phase in cases of customer churning

In [ ]:
#plt.figure(figsize= (6,4))
# bin the aon column with yearwise segments and plot the counts for each segments
#bins = [-10, -1, 0, 1, 5, 10, 15, 20, 50, 100, 100000]
#labels = [ -1, 0, 1, 5, 10, 15, 20, 50, 100, 100000]
#pd.crosstab(pd.cut(round(data_key_customers['datavolusagegrowth'],1), bins = bins, labels = labels ), data['churn_probability']).plot(kind='bar', stacked=True)
#plt.show()
#Churn probability is higher when aon is between 1 and 3 years.

In [ ]:
plt.figure(figsize = (25, 20))

sns.heatmap(data_key_customers.corr())

plt.show()

In [ ]:
corr_matrix = data_key_customers.corr().abs()

#the matrix is symmetric so we need to extract upper triangle matrix without diagonal (k = 1)
upper_triangle = (corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool)))

highly_correlated_features = [column for column in upper_triangle.columns if any(upper_triangle[column] > 0.80)]
print("List of highly correlated features from the above plot - \n\n", highly_correlated_features)
print("\n\nTotal features with high correlation - ", len(highly_correlated_features))

Note: On inspecting the data, we can see that are relationships betweens many columns. Few are  -


loc_og_mou_* = loc_og_t2t_mou_*
	     + loc_og_t2m_mou_*
	     + loc_og_t2f_mou_*
	     + loc_og_t2c_mou_*

std_og_mou_* = std_og_t2t_mou_*
	     + std_og_t2m_mou_*
	     + std_og_t2f_mou_*
	     + std_og_t2c_mou_*

total_og_mou_* = loc_og_mou_*
	      + std_og_mou_*
	      + isd_og_mou_*
	      + spl_og_mou_*
	      + X

loc_ic_mou_* = loc_ic_t2t_mou_*
	     + loc_ic_t2m_mou_*
	     + loc_ic_t2f_mou_*

std_ic_mou_* = std_ic_t2t_mou_*
	     + std_ic_t2m_mou_*
	     + std_ic_t2f_mou_*
	     + std_ic_t2o_mou_*

total_ic_mou_* = loc_ic_mou_*
	     + std_ic_mou_*
	     + spl_ic_mou_*
	     + isd_ic_mou_*
	     + Y

arpu_3g_* ,  arpu_2g_* and arpu are correlated. 
total_rech_amt_*, max_rech_amt_*, last_day_rch_amt_* and av_rech_amt_data_* are correlated.


The highly correlated attributes can be dropped but we will be using PCA to reduce dimension and it will be handled as part of it.

We can derive a consolidated attribute and remove the multiple correlated columns

# 4. Create X, y and then Train test split

In [ ]:
data_modelling = data_key_customers.copy()
y = data_modelling.pop('churn_probability')
X = data_modelling

X.shape , y.shape

Splitting train and test data to avoid any contamination of the test data

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3 ,random_state = 42, stratify = y)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
X_train.head()

In [ ]:

from imblearn.over_sampling import SMOTE
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Apply PCA to reduce dimensionality
pca = PCA(n_components=0.95)  # Retain 95% of the variance
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

# Handle imbalanced dataset using SMOTE
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train_pca, y_train)

# 5. Model Building

### **Logistics Regression**

#### 1. Logistic Regression with PCA

In [ ]:
# Create a logistic regression model
lr = LogisticRegression()

# Define the hyperparameters for tuning
parameters = {'C': [100, 10, 1.0, 0.1, 0.01],
 #             'solver': ['newton-cg', 'lbfgs', 'liblinear'],
              'penalty': ['l2']}

cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

# Perform hyperparameter tuning using grid search
grid_search = GridSearchCV(estimator=lr, param_grid=parameters, n_jobs=-1, cv=cv, scoring='accuracy',error_score=0)
grid_search.fit(X_train_resampled, y_train_resampled)

# Get the best model
lr_model = grid_search.best_estimator_

# Make predictions on the test set
y_pred = lr_model.predict(X_test_pca)

# Display accuracy, recall, f1 score and confusion matrix
print('ROCAUC score:',roc_auc_score(y_test, y_pred))
print('Accuracy score:',accuracy_score(y_test, y_pred))
print('Recall:',recall_score(y_test, y_pred))
print('F1 score:',f1_score(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))


params = {
    'logistic__penalty': ['l1', 'l2'],
    'logistic__C': [0.001, 0.01],
    'logistic__random_state': [42],
    'logistic__class_weight':[{0:2.3, 1: 18.0}],
    'pca__n_components': [p90,p95]
}

###**Random Forest**

Version 1

In [ ]:
## GC: ADDED  HERE
from sklearn.model_selection import StratifiedKFold
from imblearn.metrics import sensitivity_specificity_support
from sklearn.metrics import roc_auc_score

# random forest - the class weight is used to handle class imbalance - it adjusts the cost function
rfc = RandomForestClassifier(class_weight={0:0.1, 1: 0.9}, n_jobs = -1)

# hyperparameter space
params = {"criterion": ['gini', 'entropy'], "max_features": ['auto', 0.4]}

# create 5 folds
folds = StratifiedKFold(n_splits = 5, shuffle = True, random_state = 4)

# create gridsearch object
rfc_model = GridSearchCV(estimator=rfc, cv=folds, param_grid=params, scoring='roc_auc', n_jobs=-1, verbose=1)

# fit model
rfc_model.fit(X_train_pca, y_train)

# print best hyperparameters
print("Best AUC: ", rfc_model.best_score_)
print("Best hyperparameters: ", rfc_model.best_params_)

# predict churn on test data
y_pred = rfc_model.predict(X_test_pca)


# Display accuracy, recall, f1 score and confusion matrix
print('ROCAUC score:',roc_auc_score(y_test, y_pred))
print('Accuracy score:',accuracy_score(y_test, y_pred))
print('Recall:',recall_score(y_test, y_pred))
print('F1 score:',f1_score(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

# check area under curve
y_pred_prob = rfc_model.predict_proba(X_test_pca)[:, 1]
print("AUC:    \t", round(roc_auc_score(y_test, y_pred_prob),2))

Version 2

In [ ]:
# Random Forest Classifier
rfc2 = RandomForestClassifier()

# Define the hyperparameter grid for tuning
params = {
      "max_features": [10,50,100],
      "n_estimators": [2,5,10],
      "max_depth": [2,3,5,10,20],
#      "class_weight":[{0:2.3, 1: 18.0}],
      "min_samples_split": [5,10,20,50,100,500]
}

# Perform GridSearchCV for hyperparameter tuning
grid_search =  GridSearchCV(estimator = rfc2,
                    param_grid = params,
                    cv =5,
                    verbose= 1,
                    scoring ="accuracy")

grid_search.fit(X_train_resampled, y_train_resampled)

# Get the best estimator from the grid search
rfc2_model = grid_search.best_estimator_

# Make predictions on the test set
y_pred = rfc2_model.predict(X_test_pca)

# Calculate accuracy and recall
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

# Calculate confusion matrix
confusion_mat = confusion_matrix(y_test, y_pred)

# Get feature importances
feature_importances = rfc2_model.feature_importances_
top_features = X.columns[np.argsort(feature_importances)[::-1]][:5]

# Display accuracy, recall, f1 score and confusion matrix
print('ROCAUC score:',roc_auc_score(y_test, y_pred))
print('Accuracy score:',accuracy_score(y_test, y_pred))
print('Recall:',recall_score(y_test, y_pred))
print('F1 score:',f1_score(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

In [ ]:
# class imbalance
# Idnentiying Weights
w0 = y_train.value_counts().sum()/y_train.value_counts()[0]*2
w1 = y_train.value_counts().sum()/y_train.value_counts()[1]*2
w0,w1

### 3. XGBoost

Version 1

In [ ]:
# Define the parameter grid for hyperparameter tuning
param_grid = {
    'max_depth': [3, 5, 7],
    'learning_rate': [0.1, 0.01],
    'n_estimators': [100, 200, 300]
}

# Create the XGBoost classifier
xgb_model = xgb.XGBClassifier(objective='binary:logistic')

# Perform grid search cross-validation
grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, scoring='accuracy', cv=5)
grid_search.fit(X_train_resampled, y_train_resampled)

# Get the best parameters and model
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

# Make predictions on the test set
y_pred = best_model.predict(X_test_pca)


# Display accuracy, recall, f1 score and confusion matrix
print('ROCAUC score:',roc_auc_score(y_test, y_pred))
print('Accuracy score:',accuracy_score(y_test, y_pred))
print('Recall:',recall_score(y_test, y_pred))
print('F1 score:',f1_score(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

# 6. Identify Key Features

### 1. Simple Random Forest Model

In [ ]:
#GC: ADDED HERE
# Create an instance of the Random Forest Classifier
#rf_model = RandomForestClassifier(random_state=42)
# random forest - the class weight is used to handle class imbalance - it adjusts the cost function
rf_model = RandomForestClassifier(class_weight={0:0.1, 1: 0.9}, n_jobs = -1)

# Train the model
rf_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_model.predict(X_test)

# Get feature importances
feature_importances = rf_model.feature_importances_

# Create a dataframe of feature importance scores
feature_importance_df = pd.DataFrame({'Feature': X.columns, 'Importance': feature_importances})

# Sort the features by importance in descending order
top_features = feature_importance_df.nlargest(5, 'Importance')

print('Top 5 Features:')
print(top_features)

# Display accuracy, recall, f1 score and confusion matrix
print('ROCAUC score:',roc_auc_score(y_test, y_pred))
print('Accuracy score:',accuracy_score(y_test, y_pred))
print('Recall:',recall_score(y_test, y_pred))
print('F1 score:',f1_score(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

# 7. Business Recommendations

Note: Key factors which can help identify churn are - 

1. loc_ic_mou_8  
2. arpu_8 
3. total_ic_mou_8
4. total_og_mou_8
5. total_rech_amt_8

Incoming calls, Outgoing calls, Recharge amount and Average Revenue per unit during the action phase can be used to predict churn. 

Recommendations:

1. As per study, network quality is a key criteria customer looks for and the company can improve their effort towards improving their network quality

https://www.ijert.org/research/a-survey-on-factors-impacting-churn-in-telecommunication-using-datamininig-techniques-IJERTV3IS031583.pdf 

2. People who are relatiely new to the company ( aon -1-3) churn more than others so the telecom company can look to introduce some offers around data or IC/OG calls

3. Company could look to provide some package offers - calls/data/facebook service. We could see if we can information on the customer profile - age/occupation and offer packages accordingly i.e Facebook pack for college student.